<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>ai</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDFDocument</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSPDFPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>NSPDFPboardType</string>
				<string>PDF Bundle</string>
				<string>PDF With Embedded Notes</string>
				<string>PDF Without Notes</string>
				<string>Skim Notes</string>
				<string>Notes as Text</string>
				<string>Notes as RTF</string>
				<string>Notes as RTFD</string>
				<string>Notes as FDF</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdfd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDFDDocument</string>
			<key>CFBundleTypeName</key>
			<string>PDF Bundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDFD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>NSPDFPboardType</string>
				<string>PDF Bundle</string>
				<string>PDF With Embedded Notes</string>
				<string>PDF Without Notes</string>
				<string>Skim Notes</string>
				<string>Notes as Text</string>
				<string>Notes as RTF</string>
				<string>Notes as RTFD</string>
				<string>Notes as FDF</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>skim</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NoteDocument</string>
			<key>CFBundleTypeName</key>
			<string>Skim Notes</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SKNT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKNotesDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>Notes as RTF</string>
				<string>Notes as Text</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ps</string>
				<string>epi</string>
				<string>eps</string>
				<string>epsf</string>
				<string>epsi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PSDocument</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PostScript document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>NSPDFPboardType</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dvi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DVIDocument</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-dvi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DVI document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>*DVI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDFDocument</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF With Embedded Notes</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDFDocument</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF Without Notes</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Notes as Text</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Notes as RTF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtfd</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/rtfd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Notes as RTFD</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTFD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SKDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fdf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.fdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Notes as FDF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKNotesDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Skim Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Skim Help</string>
	<key>CFBundleIconFile</key>
	<string>Skim</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.skim-app.skim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0RC2</string>
	<key>CFBundleSignature</key>
	<string>SKim</string>
	<key>CFBundleVersion</key>
	<string>v17</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SKApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skim/Open PDF at URL</string>
			</dict>
			<key>NSMessage</key>
			<string>openDocumentFromURLOnPboard</string>
			<key>NSPortName</key>
			<string>Skim</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSURLPboardType</string>
				<string>NSStringPboardType</string>
				<string>CorePasteboardFlavorType 0x75726C20</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Skim/Open Selected PDF</string>
			</dict>
			<key>NSMessage</key>
			<string>openDocumentFromDataOnPboard</string>
			<key>NSPortName</key>
			<string>Skim</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSPDFPboardType</string>
				<string>NSPostScriptPboardType</string>
				<string>NSTIFFPboardType</string>
			</array>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>Skim.sdef</string>
	<key>SUFeedURL</key>
	<string>http://skim-app.sourceforge.net/skim.xml</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF Bundle</string>
			<key>UTTypeIconFile</key>
			<string>PDFDDocument</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.skim-app.pdfd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PDFD</string>
				<key>public.filename-extension</key>
				<array>
					<string>pdfd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Skim Notes</string>
			<key>UTTypeIconFile</key>
			<string>NoteDocument</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.skim-app.skimnotes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SKNT</string>
				<key>public.filename-extension</key>
				<array>
					<string>skim</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
