<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PDFDocument</string>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PDFDDocument</string>
			<key>CFBundleTypeName</key>
			<string>PDF Bundle</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.skim-app.pdfd</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PSDocument</string>
			<key>CFBundleTypeName</key>
			<string>PostScript</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PSDocument</string>
			<key>CFBundleTypeName</key>
			<string>Encapsulated PostScript</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>DVIDocument</string>
			<key>CFBundleTypeName</key>
			<string>DVI</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.tex.dvi</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>XDVDocument</string>
			<key>CFBundleTypeName</key>
			<string>XDV</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.tex.xdv</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>NoteDocument</string>
			<key>CFBundleTypeName</key>
			<string>Skim Notes</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.skim-app.skimnotes</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKNotesDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as Text</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as RTF</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as RTFD</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rtfd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as FDF</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Skim.help</string>
	<key>CFBundleHelpBookName</key>
	<string>net.sourceforge.skim-app.skim.help</string>
	<key>CFBundleIconFile</key>
	<string>Skim</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.skim-app.skim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.9</string>
	<key>CFBundleSignature</key>
	<string>SKim</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SKApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open File in Skim</string>
			</dict>
			<key>NSMessage</key>
			<string>openDocumentFromURLOnPboard</string>
			<key>NSPortName</key>
			<string>Skim</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.url</string>
				<string>public.file-url</string>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open URL in Skim</string>
			</dict>
			<key>NSMessage</key>
			<string>openDocumentFromURLOnPboard</string>
			<key>NSPortName</key>
			<string>Skim</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>URL</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.url</string>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Selected PDF</string>
			</dict>
			<key>NSMessage</key>
			<string>openDocumentFromDataOnPboard</string>
			<key>NSPortName</key>
			<string>Skim</string>
			<key>NSSendTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Show Skim Notes</string>
			</dict>
			<key>NSMessage</key>
			<string>openNotesDocumentFromURLOnPboard</string>
			<key>NSPortName</key>
			<string>Skim</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.url</string>
				<string>public.file-url</string>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>Skim.sdef</string>
	<key>SUFeedURL</key>
	<string>http://skim-app.sourceforge.net/skim.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF Bundle</string>
			<key>UTTypeIconFile</key>
			<string>PDFDDocument</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.skim-app.pdfd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PDFD</string>
				<key>public.filename-extension</key>
				<array>
					<string>pdfd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Skim Notes</string>
			<key>UTTypeIconFile</key>
			<string>NoteDocument</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.skim-app.skimnotes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SKNT</string>
				<key>public.filename-extension</key>
				<array>
					<string>skim</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVI</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.tex.dvi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XDV</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.tex.xdv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xdv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adobe Acrobat Forms Document (FDF)</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.fdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>fdf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
