<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>RegisteredDefaults</key>
    <dict>
        <key>SKAutoCheckFileUpdate</key>
        <false/>
        <key>SKBackgroundColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZoM/AAAAAYY=
	</data>
        <key>SKFullScreenBackgroundColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZoM+gAAAAYY=
	</data>
        <key>SKLastOpenFileNames</key>
        <array/>
        <key>SKOpenContentsPaneOnlyForTOC</key>
        <false/>
        <key>SKOpenFilesMaximized</key>
        <false/>
        <key>SKReopenLastOpenFiles</key>
        <true/>
        <key>SKSearchHighlightColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQAAAYY=
	</data>
        <key>SKShouldHighlightSearchResults</key>
        <true/>
        <key>SKSnapshotsOnTop</key>
        <false/>
        <key>SKSnapshotThumbnailSize</key>
        <real>128.0</real>
        <key>SKThumbnailSize</key>
        <real>128.0</real>
        <key>SKUpdateCheckInterval</key>
        <integer>1</integer>
        <key>SKUpdateCheckLastDate</key>
        <string></string>
        <key>SKUpdateLatestNotifiedVersion</key>
        <string></string>
        <key>SKLastToolMode</key>
        <integer>0</integer>
        <key>SKGreekingThreshold</key>
        <real>3.0</real>
        <key>SKShouldAntiAlias</key>
        <true/>
        <key>SKReadingBarColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQEAAYY=
	</data>
        <key>SKReadingBarTransparency</key>
        <real>0.7</real>
        <key>SKReadingBarInvert</key>
        <true/>
        <key>SKTextNoteFontName</key>
        <string>LucidaGrande</string>
        <key>SKTextNoteFontSize</key>
        <real>11.0</real>
        <key>SKDefaultPDFDisplaySettings</key>
        <dict>
            <key>scaleFactor</key>
            <real>1.0</real>
            <key>autoScales</key>
            <false/>
            <key>displaysPageBreaks</key>
            <true/>
            <key>displaysAsBook</key>
            <false/>
            <key>displayMode</key>
            <integer>1</integer>
            <key>displayBox</key>
            <integer>1</integer>
        </dict>
        <key>SKFreeTextNoteColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQGDPwCAgQGG
	</data>
        <key>SKAnchoredNoteColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQGDPwCAgQGG
	</data>
        <key>SKCircleNoteColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQAAAYY=
	</data>
        <key>SKSquareNoteColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAEAAYY=
	</data>
        <key>SKHighlightNoteColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQEAAYY=
	</data>
        <key>SKUnderlineNoteColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAIM/AICBAAGG
	</data>
        <key>SKStrikeOutNoteColor</key>
        <data>
	BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQAAAYY=
	</data>
    </dict>
	<key>ResettableKeys</key>
	<array>
        <string>SKAutoCheckFileUpdate</string>
        <string>SKBackgroundColor</string>
        <string>SKFullScreenBackgroundColor</string>
        <string>SKLastOpenFileNames</string>
        <string>SKOpenContentsPaneOnlyForTOC</string>
        <string>SKOpenFilesMaximized</string>
        <string>SKReopenLastOpenFiles</string>
        <string>SKSearchHighlightColor</string>
        <string>SKShouldHighlightSearchResults</string>
        <string>SKSnapshotsOnTop</string>
        <string>SKSnapshotThumbnailSize</string>
        <string>SKThumbnailSize</string>
        <string>SKUpdateCheckInterval</string>
        <string>SKLastToolMode</string>
        <string>SKGreekingThreshold</string>
        <string>SKShouldAntiAlias</string>
        <string>SKBlankAllWindows</string>
        <string>SKReadingBarColor</string>
        <string>SKReadingBarTransparency</string>
        <string>SKReadingBarInvert</string>
        <string>SKTextNoteFontName</string>
        <string>SKTextNoteFontSize</string>
        <string>SKFreeTextNoteColor</string>
        <string>SKAnchoredNoteColor</string>
        <string>SKCircleNoteColor</string>
        <string>SKSquareNoteColor</string>
        <string>SKHighlightNoteColor</string>
        <string>SKUnderlineNoteColor</string>
        <string>SKStrikeOutNoteColor</string>
        <string>SKDefaultPDFDisplaySettings</string>
    </array>
</dict>
</plist>
