<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegisteredDefaults</key>
	<dict>
		<key>SKBackgroundColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZoM/AAAAAYY=</data>
		<key>SKFullScreenBackgroundColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZoM+gAAAAYY=</data>
		<key>SKLastOpenFileNames</key>
		<array/>
		<key>SKOpenContentsPaneOnlyForTOC</key>
		<false/>
		<key>SKInitialWindowSizeOption</key>
		<integer>0</integer>
		<key>SKReopenLastOpenFiles</key>
		<false/>
		<key>SKRememberLastPageViewed</key>
		<false/>
		<key>SKRememberSnapshots</key>
		<false/>
		<key>SKDefaultPDFDisplaySettings</key>
		<dict>
			<key>scaleFactor</key>
			<real>1</real>
			<key>autoScales</key>
			<false/>
			<key>displaysPageBreaks</key>
			<true/>
			<key>displaysAsBook</key>
			<true/>
			<key>displayMode</key>
			<integer>1</integer>
			<key>displayBox</key>
			<integer>1</integer>
		</dict>
		<key>SKDefaultFullScreenPDFDisplaySettings</key>
		<dict/>
		<key>SKAutoSaveSkimNotes</key>
		<false/>
		<key>SKSnapshotsOnTop</key>
		<false/>
		<key>SKSnapshotThumbnailSize</key>
		<real>128</real>
		<key>SKThumbnailSize</key>
		<real>128</real>
		<key>SKUpdateCheckInterval</key>
		<integer>1</integer>
		<key>SKUpdateCheckLastDate</key>
		<string></string>
		<key>SKUpdateLatestNotifiedVersion</key>
		<string></string>
		<key>SKLastToolMode</key>
		<integer>0</integer>
		<key>SKLastAnnotationMode</key>
		<integer>0</integer>
		<key>SKTableFontSize</key>
		<real>12</real>
		<key>SKGreekingThreshold</key>
		<real>3</real>
		<key>SKShouldAntiAlias</key>
		<true/>
		<key>SKReadingBarColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEAAYY=</data>
		<key>SKReadingBarInvert</key>
		<false/>
		<key>SKAnchoredNoteFontName</key>
		<string>Helvetica</string>
		<key>SKAnchoredNoteFontSize</key>
		<real>12</real>
		<key>SKFreeTextNoteFontName</key>
		<string>LucidaGrande</string>
		<key>SKFreeTextNoteFontSize</key>
		<real>11</real>
		<key>SKFreeTextNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQGDPwAAAAGG</data>
		<key>SKAnchoredNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQGDPwAAAAGG</data>
		<key>SKCircleNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
		<key>SKSquareNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAEAAYY=</data>
		<key>SKHighlightNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEAAYY=</data>
		<key>SKUnderlineNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAIM/AAAAAAGG</data>
		<key>SKStrikeOutNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
		<key>SKLineNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=</data>
		<key>SKInkNoteColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
		<key>SKCircleNoteInteriorColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAAhg==</data>
		<key>SKSquareNoteInteriorColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAAhg==</data>
		<key>SKLineNoteInteriorColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgAAhg==</data>
		<key>SKFreeTextNoteFontColor</key>
		<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
		<key>SKFreeTextNoteAlignment</key>
		<integer>0</integer>
		<key>SKFreeTextNoteLineWidth</key>
		<real>1</real>
		<key>SKFreeTextNoteLineStyle</key>
		<integer>0</integer>
		<key>SKFreeTextNoteDashPattern</key>
		<array/>
		<key>SKAnchoredNoteIconType</key>
		<integer>2</integer>
		<key>SKCircleNoteLineWidth</key>
		<real>2</real>
		<key>SKCircleNoteLineStyle</key>
		<integer>0</integer>
		<key>SKCircleNoteDashPattern</key>
		<array/>
		<key>SKSquareNoteLineWidth</key>
		<real>2</real>
		<key>SKSquareNoteLineStyle</key>
		<integer>0</integer>
		<key>SKSquareNoteDashPattern</key>
		<array/>
		<key>SKLineNoteLineWidth</key>
		<real>2</real>
		<key>SKLineNoteLineStyle</key>
		<integer>0</integer>
		<key>SKLineNoteDashPattern</key>
		<array/>
		<key>SKLineNoteStartLineStyle</key>
		<integer>0</integer>
		<key>SKLineNoteEndLineStyle</key>
		<integer>4</integer>
		<key>SKInkNoteLineWidth</key>
		<real>2</real>
		<key>SKInkNoteLineStyle</key>
		<integer>0</integer>
		<key>SKInkNoteDashPattern</key>
		<array/>
		<key>SKAutoCheckFileUpdate</key>
		<false/>
		<key>SKTeXEditorPreset</key>
		<string>TextMate</string>
		<key>SKTeXEditorCommand</key>
		<string>mate</string>
		<key>SKTeXEditorArguments</key>
		<string>-l %line &quot;%file&quot;</string>
		<key>SKNoteColumns</key>
		<array>
			<string>note</string>
			<string>type</string>
			<string>color</string>
			<string>page</string>
		</array>
		<key>SKNoteColumnWidths</key>
		<dict>
			<key>author</key>
            <real>32</real>
			<key>date</key>
            <real>32</real>
		</dict>
		<key>SKNotesDocumentColumns</key>
		<array>
			<string>note</string>
			<string>type</string>
			<string>color</string>
			<string>page</string>
		</array>
		<key>SKNotesDocumentColumnWidths</key>
		<dict>
			<key>author</key>
            <real>64</real>
			<key>date</key>
            <real>64</real>
		</dict>
		<key>SKSwatchColors</key>
		<array>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAYM/AAAAAAGG</data>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEAAYY=</data>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAEAAYY=</data>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=</data>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQABAYY=</data>
		</array>
		<key>SKDefaultNoteWidth</key>
		<real>128</real>
		<key>SKDefaultNoteHeight</key>
		<real>64</real>
		<key>SKFullScreenNavigationOption</key>
		<integer>1</integer>
		<key>SKPresentationNavigationOption</key>
		<integer>1</integer>
		<key>SKAutoHidePresentationContents</key>
		<true/>
		<key>SKEnableAppleRemote</key>
		<true/>
		<key>SKAppleRemoteSwitchIndicationTimeout</key>
		<real>2</real>
		<key>SKReadMissingNotesFromSkimFileOption</key>
		<integer>-1</integer>
		<key>SKSavePasswordOption</key>
		<integer>-1</integer>
		<key>SKBlankAllScreensInFullScreen</key>
		<false/>
		<key>SKAutoCropBoxMarginHeight</key>
		<real>10</real>
		<key>SKAutoCropBoxMarginWidth</key>
		<real>10</real>
		<key>SKSmallMagnificationHeight</key>
		<real>200</real>
		<key>SKSmallMagnificationWidth</key>
		<real>300</real>
		<key>SKLargeMagnificationHeight</key>
		<real>400</real>
		<key>SKLargeMagnificationWidth</key>
		<real>600</real>
		<key>SKToolTipWidth</key>
		<real>400</real>
		<key>SKToolTipHeight</key>
		<real>120</real>
		<key>SKAutoOpenDownloadsWindow</key>
		<true/>
		<key>SKAutoRemoveFinishedDownloads</key>
		<false/>
		<key>SKAutoCloseDownloadsWindow</key>
		<true/>
		<key>SKShouldSetCreatorCode</key>
		<false/>
		<key>SKShowStatusBar</key>
		<true/>
		<key>SKShowBookmarkStatusBar</key>
		<false/>
		<key>SKShowNotesStatusBar</key>
		<true/>
		<key>SKCaseInsensitiveSearch</key>
		<true/>
		<key>SKWholeWordSearch</key>
		<false/>
		<key>SKCaseInsensitiveNoteSearch</key>
		<true/>
		<key>SKCaseInsensitiveFind</key>
		<true/>
	</dict>
	<key>ResettableKeys</key>
	<dict>
		<key>GeneralPreferences</key>
		<array>
			<string>SKReopenLastOpenFiles</string>
			<string>SKInitialWindowSizeOption</string>
			<string>SKOpenContentsPaneOnlyForTOC</string>
			<string>SKRememberLastPageViewed</string>
			<string>SKRememberSnapshots</string>
			<string>SKDefaultPDFDisplaySettings</string>
			<string>SKDefaultFullScreenPDFDisplaySettings</string>
			<string>SKAutoSaveSkimNotes</string>
			<string>SKSnapshotsOnTop</string>
			<string>SKSavePasswordOption</string>
		</array>
		<key>DisplayPreferences</key>
		<array>
			<string>SKThumbnailSize</string>
			<string>SKSnapshotThumbnailSize</string>
			<string>SKTableFontSize</string>
			<string>SKShouldAntiAlias</string>
			<string>SKGreekingThreshold</string>
			<string>SKBackgroundColor</string>
			<string>SKFullScreenBackgroundColor</string>
			<string>SKReadingBarColor</string>
			<string>SKReadingBarInvert</string>
		</array>
		<key>NotesPreferences</key>
		<array>
			<string>SKFreeTextNoteColor</string>
			<string>SKAnchoredNoteColor</string>
			<string>SKCircleNoteColor</string>
			<string>SKSquareNoteColor</string>
			<string>SKHighlightNoteColor</string>
			<string>SKUnderlineNoteColor</string>
			<string>SKStrikeOutNoteColor</string>
			<string>SKLineNoteColor</string>
			<string>SKInkNoteColor</string>
			<string>SKCircleNoteInteriorColor</string>
			<string>SKSquareNoteInteriorColor</string>
			<string>SKLineNoteInteriorColor</string>
			<string>SKFreeTextNoteFontColor</string>
			<string>SKFreeTextNoteFontName</string>
			<string>SKFreeTextNoteFontSize</string>
			<string>SKAnchoredNoteFontName</string>
			<string>SKAnchoredNoteFontSize</string>
			<string>SKFreeTextNoteLineWidth</string>
			<string>SKFreeTextNoteLineStyle</string>
			<string>SKFreeTextNoteDashPattern</string>
			<string>SKFreeTextNoteAlignment</string>
			<string>SKAnchoredNoteIconType</string>
			<string>SKCircleNoteLineWidth</string>
			<string>SKCircleNoteLineStyle</string>
			<string>SKCircleNoteDashPattern</string>
			<string>SKSquareNoteLineWidth</string>
			<string>SKSquareNoteLineStyle</string>
			<string>SKSquareNoteDashPattern</string>
			<string>SKLineNoteLineWidth</string>
			<string>SKLineNoteLineStyle</string>
			<string>SKLineNoteDashPattern</string>
			<string>SKLineNoteStartLineStyle</string>
			<string>SKLineNoteEndLineStyle</string>
			<string>SKInkNoteLineWidth</string>
			<string>SKInkNoteLineStyle</string>
			<string>SKInkNoteDashPattern</string>
		</array>
		<key>SyncPreferences</key>
		<array>
			<string>SKAutoCheckFileUpdate</string>
			<string>SKTeXEditorPreset</string>
			<string>SKTeXEditorCommand</string>
			<string>SKTeXEditorArguments</string>
		</array>
		<key>OtherPreferences</key>
		<array>
			<string>SKLastOpenFileNames</string>
			<string>SKLastToolMode</string>
			<string>SKLastAnnotationMode</string>
			<string>SKBlankAllScreensInFullScreen</string>
			<string>SKActivateFullScreenNavigationAtBottom</string>
			<string>SKActivatePresentationNavigationAtBottom</string>
			<string>SKReadMissingNotesFromSkimFileOption</string>
			<string>SKEnableAppleRemote</string>
			<string>SKAppleRemoteSwitchIndicationTimeout</string>
		</array>
	</dict>
	<key>TeXEditors</key>
	<array>
		<dict>
			<key>name</key>
			<string>TextMate</string>
			<key>command</key>
			<string>mate</string>
			<key>arguments</key>
			<string>-l %line &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BBEdit</string>
			<key>command</key>
			<string>bbedit</string>
			<key>arguments</key>
			<string>+%line &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TextWrangler</string>
			<key>command</key>
			<string>edit</string>
			<key>arguments</key>
			<string>+%line &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aquamacs</string>
			<key>command</key>
			<string>emacsclient</string>
			<key>arguments</key>
			<string>--no-wait +%line &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aquamacs Emacs</string>
			<key>command</key>
			<string>emacsclient</string>
			<key>arguments</key>
			<string>--no-wait +%line &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emacs</string>
			<key>command</key>
			<string>emacsclient</string>
			<key>arguments</key>
			<string>--no-wait +%line &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LyX</string>
			<key>command</key>
			<string>lyxeditor</string>
			<key>arguments</key>
			<string>&quot;%file&quot; %line</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TeXMaker</string>
			<key>command</key>
			<string>texmaker</string>
			<key>arguments</key>
			<string>&quot;%file&quot; -line %line</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AlphaX</string>
			<key>command</key>
			<string>alphac</string>
			<key>arguments</key>
			<string>+%line &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MacVim</string>
			<key>command</key>
			<string>mvim</string>
			<key>arguments</key>
			<string>--remote-silent +&quot;:%line&quot; &quot;%file&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sublime Text</string>
			<key>command</key>
			<string>subl</string>
			<key>arguments</key>
			<string>&quot;%file&quot;:%line</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sublime Text 2</string>
			<key>command</key>
			<string>subl</string>
			<key>arguments</key>
			<string>&quot;%file&quot;:%line</string>
		</dict>
	</array>
</dict>
</plist>
