GCC_PREPROCESSOR_DEFINITIONS = STDC_HEADERS=1 HAVE_SYS_TYPES_H=1 HAVE_SYS_STAT_H=1 HAVE_STDLIB_H=1 HAVE_STRING_H=1 HAVE_MEMORY_H=1 HAVE_STRINGS_H=1 HAVE_INTTYPES_H=1 HAVE_STDINT_H=1 HAVE_UNISTD_H=1 HAVE_DLFCN_H=1 HAVE_DIRENT_H=1 HAVE_FNMATCH_H=1 HAVE_WCHAR_H=1 HAVE_LOCALE_H=1 HAVE_LANGINFO_H=1 HAVE_PWD_H=1 HAVE_SYS_SELECT_H=1 HAVE_SYS_SOCKET_H=1 HAVE_SYS_STAT_H=1 HAVE_SYS_TIME_H=1 HAVE_SYS_TYPES_H=1 HAVE_SYS_UN_H=1 HAVE_SYS_WAIT_H=1 HAVE_UNISTD_H=1 HAVE_NETINET_IF_ETHER_H=1 HAVE_NETINET_IN_SYSTM_H=1 STDC_HEADERS=1 HAVE_LONG_LONG=1 HAVE_LIBCRYPTO=1 HAVE_LIBSSL=1 HAVE_READLINE_READLINE_H=1 HAVE_READLINE_HISTORY_H=1 HAVE_READLINE_COMPLETION_OVER=1 HAVE_ICONV_H=1 HAVE_GETADDRINFO=1 HAVE_VSNPRINTF=1 HAVE_GETTIMEOFDAY=1 HAVE_POLL=1 HAVE_STRERROR_R=1 HAVE_LOCALTIME_R=1 HAVE_USLEEP=1 YAZ_SOCKLEN_T=socklen_t YAZ_USE_NEW_LOG=1 HAVE_LIBPTHREAD=1 YAZ_HAVE_XML2=1 YAZ_HAVE_XSLT=1 HAVE_XSLTSAVERESULTTOSTRING=1 HAVE_OPENSSL_SSL_H=1 YAZ_POSIX_THREADS=1 REENTRANT

INSTALL_PATH = @executable_path/../Frameworks

HEADER_SEARCH_PATHS = /usr/include/libxml2 "$(SRCROOT)"/../include "$(SRCROOT)"/../src