<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>19</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>20</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>21</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
</dict>
</plist>
