<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>483</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>484</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>485</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>486</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>487</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>554</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
	<key>575</key>
	<dict>
		<key>.nilKeypaths</key>
		<array>
			<string>attributedTitleAsHTML</string>
		</array>
	</dict>
</dict>
</plist>
