<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIPlugInFilterList</key>
	<dict>
		<key>SKTAccelerationTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>AccelerationTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>AccelerationTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTAccelerationTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBlindsTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BlindsTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BlindsTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBlindsTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBlurTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BlurTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BlurTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBlurTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBoxInTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BoxInTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BoxInTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBoxInTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBoxOutTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BoxOutTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BoxOutTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBoxOutTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTCoverTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>CoverTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>CoverTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTCoverTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTCubeTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>CubeTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>CubeTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTCubeTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTFlipTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>FlipTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>FlipTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTFlipTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTHoleTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>HoleTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>HoleTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTHoleTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTMeltdownTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>MeltdownTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>MeltdownTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTMeltdownTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTPageTurnTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>PageTurnTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>PageTurnTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTPageTurnTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTPinchTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>PinchTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>PinchTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTPinchTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTRadarTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>RadarTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>RadarTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTRadarTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTRevealTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>RevealTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>RevealTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTRevealTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSinkTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SinkTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SinkTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSinkTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSlideTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SlideTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SlideTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSlideTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSplitInTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SplitInilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SplitInTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSplitInTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSplitOutTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SplitOutTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SplitOutTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSplitOutTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTStripsTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>StripsTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>StripsTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTStripsTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSwapTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SwapTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SwapTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSwapTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTWarpFadeTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>WarpFadeTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>WarpFadeTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTWarpFadeTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTWarpSwitchTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>WarpSwitchTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>WarpSwitchTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTWarpSwitchTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTZoomTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>ZoomTransitionDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>ZoomTransition</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTZoomTransition</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
	</dict>
	<key>CIPlugInVersion</key>
	<integer>1</integer>
</dict>
</plist>
