<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIPlugInFilterList</key>
	<dict>
		<key>SKTAccelerationTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>AccelerationFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>AccelerationTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTAccelerationTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBlindsTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BlindsFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BlindsTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBlindsTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBlurTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BlurFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BlurTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBlurTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBoxInTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BoxInFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BoxInTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBoxInTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTBoxOutTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>BoxOutFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>BoxOutTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTBoxOutTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTCoverTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>CoverFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>CoverTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTCoverTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTCubeTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>CubeFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>CubeTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTCubeTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTFlipTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>FlipFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>FlipTransitionFilter</string>
				<key>CIAttributeReferenceDocumentation</key>
				<string>index</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTFlipTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTHoleTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>HoleFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>HoleTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTHoleTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTMeltdownTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>MeltdownFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>MeltdownTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTMeltdownTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTPinchTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>PinchilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>PinchTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTinchTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTRadarTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>RadarFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>RadarTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTRadarTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTRevealTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>RevealFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>RevealTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTRevealTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSinkTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SinkFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SinkTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSinkTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSlideTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SlideFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SlideTransitionFilter</string>
				<key>CIAttributeReferenceDocumentation</key>
				<string>index</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSlideTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSplitInTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SplitInilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SplitInTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSplitInTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSplitOutTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SplitOutFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SplitOutTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSplitOutTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTStripsTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>StripsFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryStillImage</string>
					<string>CICategoryVideo</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>StripsTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTStripsTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>SKTSwapTransition</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeDescription</key>
				<string>SwapFilterDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryTransition</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>SwapTransitionFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>SKTSwapTransitionFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
	</dict>
	<key>CIPlugInVersion</key>
	<integer>1</integer>
</dict>
</plist>
