<dt class="Key" id="<$citeKey/>"><$citeKey/><dt />
<dd class="Pub">
	<span class="Title"><$fields.Title/></span><br />
	<span class="Author"><$pubAuthorsForDisplay/></span><br />
	<span class="Journal"><$fields.Journal/></span>&nbsp;
	<span class="Volume"><$fields.Volume/></span>&nbsp;
	<span class="Pages"><$fields.Pages/></span>&nbsp;
	(<span class="Date"><$fields.Year/></span>)<br />
	<span class="Url"><a href="<$fields.Url/>"><$fields.Url/></a></span><br />
	<div class="Abstract"><$fields.Abstract/></div>
<dd />
