INSTALL_PATH = $(HOME)/Applications

INFOPLIST_FILE = Info.plist
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -C
INFOPLIST_PREPROCESS = YES
PRODUCT_NAME = Skim
WRAPPER_EXTENSION = app

// causes lots of warnings about missing paths in Xcode 4
//FRAMEWORK_SEARCH_PATHS = "$(SOURCE_ROOT)/SkimNotes/build/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)" "$(SOURCE_ROOT)/vendorsrc/andymatuschak/Sparkle/build/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)"

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Skim_Prefix.pch

VERSIONING_SYSTEM = apple-generic
