INSTALL_PATH = $(HOME)/Applications

INFOPLIST_FILE = Info.plist
PRODUCT_NAME = Skim
WRAPPER_EXTENSION = app

FRAMEWORK_SEARCH_PATHS = "$(SOURCE_ROOT)/SkimNotes/build/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)" "$(SOURCE_ROOT)/vendorsrc/andymatuschak/Sparkle/build/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)"

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Skim_Prefix.pch
