SDKROOT = $(DEVELOPER_SDK_DIR)/MacOSX10.5.sdk
DEBUG_INFORMATION_FORMAT = dwarf
MACOSX_DEPLOYMENT_TARGET = 10.4
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = all
ZERO_LINK = NO
VERSION_INFO_FILE = $(PRODUCT_NAME)_vers.c
VERSIONING_SYSTEM = apple-generic
VERSION_INFO_BUILDER = $(USER)

INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -C
INFOPLIST_PREPROCESS = YES
INFOPLIST_EXPAND_BUILD_SETTINGS = YES

GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Skim_Prefix.pch

GCC_MODEL_TUNING = G5
