// Common to all targets and all configurations

SDKROOT = macosx

DEBUG_INFORMATION_FORMAT = dwarf
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
MACOSX_DEPLOYMENT_TARGET = 10.6

COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = all

PREBINDING = NO
ZERO_LINK = NO

ALWAYS_SEARCH_USER_PATHS = NO

// GC is not supported in Xcode 5, and we never need it
//GCC_ENABLE_OBJC_GC = supported

GCC_C_LANGUAGE_STANDARD = c99

GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

GCC_MODEL_TUNING = G5

GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNUSED_VARIABLE = YES

WARNING_CFLAGS = -Wfloat-equal
