{
    Publication = (
        {
            keyPath = "title";
            displayName = "Title";
        },
        {
            keyPath = "shortTitle";
            displayName = "Short Title";
        }
    );
    Person = (
        {
            keyPath = "firstNamePart";
            displayName = "First";
        },
        {
            keyPath = "lastNamePart";
            displayName = "Last";
        },
        {
            keyPath = "name";
            displayName = "Name";
        }
    );
    Institution = (
        {
            keyPath = "name";
            displayName = "Name";
        },
        {
            keyPath = "address";
            displayName = "Address";
        }
    );
    Venue = (
        {
            keyPath = "name";
            displayName = "Name";
        },
        {
            keyPath = "abbreviation";
            displayName = "Abbreviation";
        },
        {
            keyPath = "acronym";
            displayName = "Acronym";
        }
    );
    Note = (
        {
            displayName = "Name";
            keyPath = "name";
        },
        {
            keyPath = "value";
            displayName = "Value";
        }
    );
    Tag = (
        {
            keyPath = "name";
            displayName = "Name";
        }
    );
    TaggedItem = (
        {
            keyPath = "name";
            displayName = "Name";
        },
        {
            keyPath = "entity.name";
            displayName = "Type";
        }
    );
    Item = (
        {
            keyPath = "name";
            displayName = "Name";
        },
        {
            keyPath = "entity.name";
            displayName = "Type";
        }
    );
}
