{
    "BDSKPublicationTableDisplayController" = { 
        DisplayableClasses = ("BDSKPublicationGroup");
        Bindings = ();
    };
    "BDSKNoteTableDisplayController" = {    
        DisplayableClasses = ("BDSKNoteGroup");
        Bindings = ();
    };
    "BDSKPersonTableDisplayController" = {    
        DisplayableClasses = ("BDSKPersonGroup");
        Bindings = ();
    };

}