{
    "BDSKInstitutionTableDisplayController" = {    
        DisplayableEntities = ("Institution");
        Bindings = ();
    };
    "BDSKNoteTableDisplayController" = {    
        DisplayableEntities = ("Note");
        Bindings = ();
    };
    "BDSKPersonTableDisplayController" = {    
        DisplayableEntities = ("Person");
        Bindings = ();
    };
    "BDSKPublicationTableDisplayController" = { 
        DisplayableEntities = ("Publication");
        Bindings = ();
    };
    "BDSKVenueTableDisplayController" = {    
        DisplayableEntities = ("Venue");
        Bindings = ();
    };
    "BDSKTagTableDisplayController" = {    
        DisplayableEntities = ("Tag");
        Bindings = ();
    };
}