{
    Publication = (
        {
            NSDisplayName = "Title";
            NSPredicateFormat = "title contains[c] $value";
        },
        {
            NSDisplayName = "Short Title";
            NSPredicateFormat = "shortTitle contains[c] $value";
        }
    );
    Person = (
        {
            NSDisplayName = "Name";
            NSPredicateFormat = "name contains[c] $value";
        }
    );
    Institution = (
        {
            NSDisplayName = "Name";
            NSPredicateFormat = "name contains[c] $value";
        },
        {
            NSDisplayName = "Address";
            NSPredicateFormat = "address contains[c] $value";
        }
    );
    Venue = (
        {
            NSDisplayName = "Name";
            NSPredicateFormat = "name contains[c] $value";
        }
    );
    Note = (
        {
            NSDisplayName = "Name";
            NSPredicateFormat = "name contains[c] $value";
        },
        {
            NSDisplayName = "Value";
            NSPredicateFormat = "value contains[c] $value";
        }
    );
    Tag = (
        {
            NSDisplayName = "Name";
            NSPredicateFormat = "name contains[c] $value";
        }
    );
    TaggedItem = (
        {
            NSDisplayName = "Name";
            NSPredicateFormat = "name contains[c] $value";
        },
        {
            NSDisplayName = "Type";
            NSPredicateFormat = "entity.name contains[c] $value";
        }
    );
    Item = (
        {
            NSDisplayName = "Name";
            NSPredicateFormat = "name contains[c] $value";
        },
        {
            NSDisplayName = "Type";
            NSPredicateFormat = "entity.name contains[c] $value";
        }
    );
}
