<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>̀</key>
	<string>`</string>
	<key>́</key>
	<string>'</string>
	<key>̂</key>
	<string>^</string>
	<key>̃</key>
	<string>~</string>
	<key>̄</key>
	<string>=</string>
	<key>̆</key>
	<string>u </string>
	<key>̇</key>
	<string>.</string>
	<key>̈</key>
	<string>"</string>
	<key>̋</key>
	<string>H </string>
	<key>̌</key>
	<string>v </string>
	<key>̠</key>
	<string>b </string>
	<key>̣</key>
	<string>d </string>
	<key>̧</key>
	<string>c </string>
</dict>
</plist>
