<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>One-Way Conversions</key>
	<dict>
		<key> </key>
		<string> </string>
		<key>­</key>
		<string>-</string>
		<key>°</key>
		<string>$\,^{\circ}$</string>
		<key>±</key>
		<string>$\pm$</string>
		<key>–</key>
		<string>--</string>
		<key>—</key>
		<string>---</string>
		<key>‘</key>
		<string>`</string>
		<key>’</key>
		<string>'</string>
		<key>‛</key>
		<string>`</string>
		<key>“</key>
		<string>``</string>
		<key>”</key>
		<string>''</string>
		<key>‟</key>
		<string>``</string>
		<key>•</key>
		<string>*</string>
		<key>…</key>
		<string>{\ldots}</string>
		<key>ﬀ</key>
		<string>ff</string>
		<key>ﬁ</key>
		<string>fi</string>
		<key>ﬂ</key>
		<string>fl</string>
		<key>ﬃ</key>
		<string>ffi</string>
		<key>ﬄ</key>
		<string>ffl</string>
	</dict>
	<key>Roman to TeX</key>
	<dict>
		<key>¡</key>
		<string>{!'}</string>
		<key>§</key>
		<string>{\S}</string>
		<key>©</key>
		<string>{\copyright}</string>
		<key>®</key>
		<string>{\textregistered}</string>
		<key>Á</key>
		<string>{\'A}</string>
		<key>Â</key>
		<string>{\^A}</string>
		<key>Ã</key>
		<string>{\~A}</string>
		<key>Ä</key>
		<string>{\"A}</string>
		<key>Å</key>
		<string>{\AA}</string>
		<key>Æ</key>
		<string>{\AE}</string>
		<key>Ç</key>
		<string>{\c C}</string>
		<key>É</key>
		<string>{\'E}</string>
		<key>Ê</key>
		<string>{\^E}</string>
		<key>Ë</key>
		<string>{\"E}</string>
		<key>Ì</key>
		<string>{\`I}</string>
		<key>Í</key>
		<string>{\'I}</string>
		<key>Î</key>
		<string>{\^I}</string>
		<key>Ï</key>
		<string>{\"I}</string>
		<key>Ó</key>
		<string>{\'O}</string>
		<key>Ô</key>
		<string>{\^O}</string>
		<key>Ö</key>
		<string>{\"O}</string>
		<key>Ø</key>
		<string>{\O}</string>
		<key>Ú</key>
		<string>{\'U}</string>
		<key>Û</key>
		<string>{\^U}</string>
		<key>Ü</key>
		<string>{\"U}</string>
		<key>ß</key>
		<string>{\ss}</string>
		<key>à</key>
		<string>{\`a}</string>
		<key>á</key>
		<string>{\'a}</string>
		<key>â</key>
		<string>{\^a}</string>
		<key>ã</key>
		<string>{\~a}</string>
		<key>ä</key>
		<string>{\"a}</string>
		<key>å</key>
		<string>{\aa}</string>
		<key>æ</key>
		<string>{\ae}</string>
		<key>ç</key>
		<string>{\c c}</string>
		<key>è</key>
		<string>{\`e}</string>
		<key>é</key>
		<string>{\'e}</string>
		<key>ê</key>
		<string>{\^e}</string>
		<key>ë</key>
		<string>{\"e}</string>
		<key>ì</key>
		<string>{\`\i}</string>
		<key>í</key>
		<string>{\'\i}</string>
		<key>î</key>
		<string>{\^\i}</string>
		<key>ï</key>
		<string>{\"\i}</string>
		<key>ñ</key>
		<string>{\~n}</string>
		<key>ò</key>
		<string>{\`o}</string>
		<key>ó</key>
		<string>{\'o}</string>
		<key>ô</key>
		<string>{\^o}</string>
		<key>õ</key>
		<string>{\~o}</string>
		<key>ö</key>
		<string>{\"o}</string>
		<key>ø</key>
		<string>{\o}</string>
		<key>ù</key>
		<string>{\`u}</string>
		<key>ú</key>
		<string>{\'u}</string>
		<key>û</key>
		<string>{\^u}</string>
		<key>ü</key>
		<string>{\"u}</string>
		<key>ÿ</key>
		<string>{\"y}</string>
		<key>Ā</key>
		<string>{\=A}</string>
		<key>ā</key>
		<string>{\=a}</string>
		<key>ć</key>
		<string>{\'c}</string>
		<key>Č</key>
		<string>{\v C}</string>
		<key>č</key>
		<string>{\v c}</string>
		<key>ě</key>
		<string>{\v e}</string>
		<key>Ī</key>
		<string>{\=I}</string>
		<key>ī</key>
		<string>{\=\i}</string>
		<key>ł</key>
		<string>{\l}</string>
		<key>ő</key>
		<string>{\H o}</string>
		<key>Œ</key>
		<string>{\OE}</string>
		<key>œ</key>
		<string>{\oe}</string>
		<key>ş</key>
		<string>{\c s}</string>
		<key>š</key>
		<string>{\v s}</string>
		<key>Ū</key>
		<string>{\=U}</string>
		<key>ū</key>
		<string>{\=u}</string>
		<key>Ÿ</key>
		<string>{\"Y}</string>
		<key>Ž</key>
		<string>{\v Z}</string>
		<key>ž</key>
		<string>{\v z}</string>
		<key>Ḍ</key>
		<string>{\d D}</string>
		<key>ḍ</key>
		<string>{\d d}</string>
		<key>Ḥ</key>
		<string>{\d H}</string>
		<key>ḥ</key>
		<string>{\d h}</string>
		<key>Ṣ</key>
		<string>{\d S}</string>
		<key>ṣ</key>
		<string>{\d s}</string>
		<key>Ṭ</key>
		<string>{\d T}</string>
		<key>ṭ</key>
		<string>{\d t}</string>
		<key>Ẓ</key>
		<string>{\d Z}</string>
		<key>ẓ</key>
		<string>{\d z}</string>
		<key>™</key>
		<string>{\texttrademark}</string>
	</dict>
	<key>Roman to TeX Accents</key>
	<dict>
		<key>̀</key>
		<string>`</string>
		<key>́</key>
		<string>'</string>
		<key>̂</key>
		<string>^</string>
		<key>̃</key>
		<string>~</string>
		<key>̄</key>
		<string>=</string>
		<key>̆</key>
		<string>u </string>
		<key>̇</key>
		<string>.</string>
		<key>̈</key>
		<string>"</string>
		<key>̊</key>
		<string>r </string>
		<key>̋</key>
		<string>H </string>
		<key>̌</key>
		<string>v </string>
		<key>̠</key>
		<string>b </string>
		<key>̣</key>
		<string>d </string>
		<key>̧</key>
		<string>c </string>
		<key>̨</key>
		<string>k </string>
	</dict>
	<key>TeX to Roman</key>
	<dict>
		<key>{!'}</key>
		<string>¡</string>
		<key>{\"A}</key>
		<string>Ä</string>
		<key>{\"E}</key>
		<string>Ë</string>
		<key>{\"I}</key>
		<string>Ï</string>
		<key>{\"O}</key>
		<string>Ö</string>
		<key>{\"U}</key>
		<string>Ü</string>
		<key>{\"Y}</key>
		<string>Ÿ</string>
		<key>{\"\i}</key>
		<string>ï</string>
		<key>{\"a}</key>
		<string>ä</string>
		<key>{\"e}</key>
		<string>ë</string>
		<key>{\"o}</key>
		<string>ö</string>
		<key>{\"u}</key>
		<string>ü</string>
		<key>{\"y}</key>
		<string>ÿ</string>
		<key>{\'A}</key>
		<string>Á</string>
		<key>{\'E}</key>
		<string>É</string>
		<key>{\'I}</key>
		<string>Í</string>
		<key>{\'O}</key>
		<string>Ó</string>
		<key>{\'U}</key>
		<string>Ú</string>
		<key>{\'\i}</key>
		<string>í</string>
		<key>{\'a}</key>
		<string>á</string>
		<key>{\'c}</key>
		<string>ć</string>
		<key>{\'e}</key>
		<string>é</string>
		<key>{\'o}</key>
		<string>ó</string>
		<key>{\'u}</key>
		<string>ú</string>
		<key>{\=A}</key>
		<string>Ā</string>
		<key>{\=I}</key>
		<string>Ī</string>
		<key>{\=U}</key>
		<string>Ū</string>
		<key>{\=\i}</key>
		<string>ī</string>
		<key>{\=a}</key>
		<string>ā</string>
		<key>{\=u}</key>
		<string>ū</string>
		<key>{\AA}</key>
		<string>Å</string>
		<key>{\AE}</key>
		<string>Æ</string>
		<key>{\H o}</key>
		<string>ő</string>
		<key>{\OE}</key>
		<string>Œ</string>
		<key>{\O}</key>
		<string>Ø</string>
		<key>{\S}</key>
		<string>§</string>
		<key>{\^A}</key>
		<string>Â</string>
		<key>{\^E}</key>
		<string>Ê</string>
		<key>{\^I}</key>
		<string>Î</string>
		<key>{\^O}</key>
		<string>Ô</string>
		<key>{\^U}</key>
		<string>Û</string>
		<key>{\^\i}</key>
		<string>î</string>
		<key>{\^a}</key>
		<string>â</string>
		<key>{\^e}</key>
		<string>ê</string>
		<key>{\^o}</key>
		<string>ô</string>
		<key>{\^u}</key>
		<string>û</string>
		<key>{\`I}</key>
		<string>Ì</string>
		<key>{\`\i}</key>
		<string>ì</string>
		<key>{\`a}</key>
		<string>à</string>
		<key>{\`e}</key>
		<string>è</string>
		<key>{\`o}</key>
		<string>ò</string>
		<key>{\`u}</key>
		<string>ù</string>
		<key>{\aa}</key>
		<string>å</string>
		<key>{\ae}</key>
		<string>æ</string>
		<key>{\c C}</key>
		<string>Ç</string>
		<key>{\c c}</key>
		<string>ç</string>
		<key>{\c s}</key>
		<string>ş</string>
		<key>{\cc}</key>
		<string>ç</string>
		<key>{\copyright}</key>
		<string>©</string>
		<key>{\d D}</key>
		<string>Ḍ</string>
		<key>{\d H}</key>
		<string>Ḥ</string>
		<key>{\d S}</key>
		<string>Ṣ</string>
		<key>{\d T}</key>
		<string>Ṭ</string>
		<key>{\d Z}</key>
		<string>Ẓ</string>
		<key>{\d d}</key>
		<string>ḍ</string>
		<key>{\d h}</key>
		<string>ḥ</string>
		<key>{\d s}</key>
		<string>ṣ</string>
		<key>{\d t}</key>
		<string>ṭ</string>
		<key>{\d z}</key>
		<string>ẓ</string>
		<key>{\l}</key>
		<string>ł</string>
		<key>{\oe}</key>
		<string>œ</string>
		<key>{\o}</key>
		<string>ø</string>
		<key>{\ss}</key>
		<string>ß</string>
		<key>{\textregistered}</key>
		<string>®</string>
		<key>{\texttrademark}</key>
		<string>™</string>
		<key>{\u C}</key>
		<string>Č</string>
		<key>{\u c}</key>
		<string>č</string>
		<key>{\v C}</key>
		<string>Č</string>
		<key>{\v Z}</key>
		<string>Ž</string>
		<key>{\v c}</key>
		<string>č</string>
		<key>{\v e}</key>
		<string>ě</string>
		<key>{\v s}</key>
		<string>š</string>
		<key>{\v z}</key>
		<string>ž</string>
		<key>{\~A}</key>
		<string>Ã</string>
		<key>{\~a}</key>
		<string>ã</string>
		<key>{\~n}</key>
		<string>ñ</string>
		<key>{\~o}</key>
		<string>õ</string>
	</dict>
	<key>TeX to Roman Accents</key>
	<dict>
		<key>"</key>
		<string>̈</string>
		<key>'</key>
		<string>́</string>
		<key>.</key>
		<string>̇</string>
		<key>=</key>
		<string>̄</string>
		<key>H</key>
		<string>̋</string>
		<key>^</key>
		<string>̂</string>
		<key>`</key>
		<string>̀</string>
		<key>b</key>
		<string>̠</string>
		<key>c</key>
		<string>̧</string>
		<key>d</key>
		<string>̣</string>
		<key>k</key>
		<string>̨</string>
		<key>r</key>
		<string>̊</string>
		<key>u</key>
		<string>̆</string>
		<key>v</key>
		<string>̌</string>
		<key>~</key>
		<string>̃</string>
	</dict>
</dict>
</plist>
