<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bibDocIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>bibTeX database</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BIB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>BibDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rss</string>
				<string>xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Rich Site Summary file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BibDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fcgi</string>
				<string>ris</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>risDocIcon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-Research-Info-Systems</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RIS/Medline File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BibDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Bibdesk</string>
	<key>CFBundleGetInfoHTML</key>
	<string>&lt;B&gt;BibDesk&lt;/B&gt; Version 0.97.1</string>
	<key>CFBundleGetInfoString</key>
	<string>version 0.97.1</string>
	<key>CFBundleHelpBookFolder</key>
	<string>BibDesk Help</string>
	<key>CFBundleHelpBookName</key>
	<string>BibDesk Help</string>
	<key>CFBundleIconFile</key>
	<string>FolderPenIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.ucsd.cs.mmccrack.bibdesk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BibDesk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.97.1</string>
	<key>CFBundleSignature</key>
	<string>BDSK</string>
	<key>CFBundleVersion</key>
	<string>0.97.1</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>OAApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>K</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Bibdesk/Complete Cite Key</string>
			</dict>
			<key>NSMessage</key>
			<string>completeCiteKeyFromSelection</string>
			<key>NSPortName</key>
			<string>Bibdesk</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Bibdesk/Import RIS</string>
			</dict>
			<key>NSMessage</key>
			<string>importDataFromSelection</string>
			<key>NSPortName</key>
			<string>Bibdesk</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Bibdesk/Add to Bibliography</string>
			</dict>
			<key>NSMessage</key>
			<string>addPublicationsFromSelection</string>
			<key>NSPortName</key>
			<string>Bibdesk</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>J</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Bibdesk/Complete Citation</string>
			</dict>
			<key>NSMessage</key>
			<string>completeCitationFromSelection</string>
			<key>NSPortName</key>
			<string>Bibdesk</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Bibdesk/Show Matching Reference</string>
			</dict>
			<key>NSMessage</key>
			<string>showPubWithKey</string>
			<key>NSPortName</key>
			<string>Bibdesk</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>OFRegistrations</key>
	<dict>
		<key>OAPreferenceController</key>
		<dict>
			<key>BibPref_AutoFile</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict>
					<key>File papers into the papers folder automatically</key>
					<string>0</string>
					<key>Keep files in the papers folder organized</key>
					<string>0</string>
					<key>Local-Url Format</key>
					<string>%a%Y%u.pdf</string>
					<key>Path to the papers folder</key>
					<string>~/Documents/Papers</string>
				</dict>
				<key>icon</key>
				<string>autofile.tiff</string>
				<key>identifier</key>
				<string>bp_autofile</string>
				<key>nib</key>
				<string>BibPref_AutoFile</string>
				<key>ordering</key>
				<string>9</string>
				<key>shortTitle</key>
				<string>AutoFile</string>
				<key>title</key>
				<string>AutoFile</string>
			</dict>
			<key>BibPref_Cite</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict>
					<key>Citation End Bracket</key>
					<string>}</string>
					<key>Citation Start Bracket</key>
					<string>{</string>
					<key>Cite String</key>
					<string>cite</string>
					<key>Custom CiteStrings</key>
					<array>
						<string>citet</string>
						<string>citep</string>
						<string>fullcite</string>
						<string>citeyear</string>
						<string>citeauthor</string>
					</array>
					<key>Drag and Copy</key>
					<string>1</string>
					<key>Edit on Paste</key>
					<string>0</string>
					<key>Separate Cite</key>
					<string>0</string>
				</dict>
				<key>icon</key>
				<string>citation.tiff</string>
				<key>identifier</key>
				<string>bp_cite</string>
				<key>nib</key>
				<string>BibPref_Cite</string>
				<key>ordering</key>
				<string>1</string>
				<key>shortTitle</key>
				<string>Citation</string>
				<key>title</key>
				<string>Citation Behavior</string>
			</dict>
			<key>BibPref_CiteKey</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict>
					<key>Cite Key Format</key>
					<string>%a1:%Y%r2</string>
					<key>Cite Key Format Preset</key>
					<integer>1</integer>
				</dict>
				<key>icon</key>
				<string>key.tiff</string>
				<key>identifier</key>
				<string>bp_citekey</string>
				<key>nib</key>
				<string>BibPref_CiteKey</string>
				<key>ordering</key>
				<string>30</string>
				<key>shortTitle</key>
				<string>Cite Key</string>
				<key>title</key>
				<string>Cite Key Format</string>
			</dict>
			<key>BibPref_Defaults</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict>
					<key>Default Fields</key>
					<array>
						<string>Keywords</string>
					</array>
					<key>Output Template File</key>
					<string>~/Library/Application Support/BibDesk/template.txt</string>
				</dict>
				<key>icon</key>
				<string>defaults.tiff</string>
				<key>identifier</key>
				<string>bp_defaults</string>
				<key>nib</key>
				<string>BibPref_Defaults</string>
				<key>ordering</key>
				<string>20</string>
				<key>shortTitle</key>
				<string>Defaults</string>
				<key>title</key>
				<string>Defaults</string>
			</dict>
			<key>BibPref_General</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict>
					<key>BlueComponentColor of alternating rows Key</key>
					<string>1.010918794815856e-310</string>
					<key>Column Widths By Name</key>
					<dict>
						<key>1st Author</key>
						<string>80</string>
						<key>2nd Author</key>
						<string>80</string>
						<key>3rd Author</key>
						<string>80</string>
						<key>Category</key>
						<string>50</string>
						<key>Cite Key</key>
						<string>85.4439697265625</string>
						<key>Date</key>
						<string>50</string>
						<key>Local-Url</key>
						<string>18</string>
						<key>No Identifier</key>
						<string>176</string>
						<key>Read</key>
						<string>29</string>
						<key>Title</key>
						<string>300</string>
						<key>Type</key>
						<string>55</string>
						<key>Url</key>
						<string>23</string>
					</dict>
					<key>Current Publication Type</key>
					<string>6</string>
					<key>Current Publication Type String</key>
					<string>Inproceedings</string>
					<key>Current Quick Search Key</key>
					<string>Keywords</string>
					<key>Current Quick Search Text Dictionary</key>
					<dict/>
					<key>Default Bib File</key>
					<string></string>
					<key>GreenComponentColor of alternating rows Key</key>
					<string>1.093888830242598e-310</string>
					<key>Preview Pane Displays What?</key>
					<string>1</string>
					<key>Quick Search Keys</key>
					<array>
						<string>Keywords</string>
						<string>Pub Type</string>
					</array>
					<key>RedComponentColor of alternating rows Key</key>
					<string>1.156487706076073e-310</string>
					<key>Show Warnings in Error Panel</key>
					<string>0</string>
					<key>Shown Column Names</key>
					<array>
						<string>Local-Url</string>
						<string>Keywords</string>
						<string>Type</string>
						<string>Cite Key</string>
						<string>Title</string>
						<string>Date</string>
						<string>1st Author</string>
						<string>2nd Author</string>
						<string>3rd Author</string>
					</array>
					<key>Shown Columns</key>
					<array>
						<string>1</string>
						<string>1</string>
						<string>1</string>
						<string>1</string>
						<string>0</string>
						<string>0</string>
					</array>
					<key>Startup Behavior</key>
					<string>0</string>
					<key>TableView Font</key>
					<string>LucidaGrande</string>
					<key>TableView Font Size</key>
					<string>1.293993033330623e-310</string>
					<key>View-by Field</key>
					<string>Author</string>
				</dict>
				<key>icon</key>
				<string>startup.tiff</string>
				<key>identifier</key>
				<string>bp_general</string>
				<key>nib</key>
				<string>BibPref_General</string>
				<key>ordering</key>
				<string>0</string>
				<key>shortTitle</key>
				<string>General</string>
				<key>title</key>
				<string>General Application Behavior</string>
			</dict>
			<key>BibPref_InputManager</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict/>
				<key>icon</key>
				<string>inputmanager.tiff</string>
				<key>identifier</key>
				<string>bp_inputmanager</string>
				<key>nib</key>
				<string>BibPref_InputManager</string>
				<key>ordering</key>
				<string>50</string>
				<key>shortTitle</key>
				<string>Autocompletion</string>
				<key>title</key>
				<string>Autocompletion</string>
			</dict>
			<key>BibPref_RSS</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict>
					<key>Auto-save as RSS</key>
					<string>0</string>
					<key>Field to use as Description in RSS</key>
					<string>Rss-Description</string>
				</dict>
				<key>icon</key>
				<string>rss.tiff</string>
				<key>identifier</key>
				<string>bp_rss</string>
				<key>nib</key>
				<string>BibPref_RSS</string>
				<key>ordering</key>
				<string>25</string>
				<key>shortTitle</key>
				<string>RSS</string>
				<key>title</key>
				<string>RSS Publish and Subscribe</string>
			</dict>
			<key>BibPref_TeX</key>
			<dict>
				<key>defaultsDictionary</key>
				<dict>
					<key>BibTeX Binary Path</key>
					<string>/usr/local/teTeX/bin/powerpc-apple-darwin-current/bibtex</string>
					<key>BibTeX Style</key>
					<string>abbrv</string>
					<key>TeX Binary Path</key>
					<string>/usr/local/teTeX/bin/powerpc-apple-darwin-current/pdflatex</string>
					<key>Uses TeX</key>
					<string>0</string>
				</dict>
				<key>icon</key>
				<string>preview.tiff</string>
				<key>identifier</key>
				<string>bp_TeX</string>
				<key>nib</key>
				<string>BibPref_TeX</string>
				<key>ordering</key>
				<string>2</string>
				<key>shortTitle</key>
				<string>Preview</string>
				<key>title</key>
				<string>TeX - Typeset Preview</string>
			</dict>
		</dict>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>bibTeX database</string>
			<key>UTTypeIdentifier</key>
			<string>edu.ucsd.cs.mmccrack.bibdesk.bib</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bib</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
