<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bdskcache</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cacheDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>BibDesk Item</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.bibdesk.bdskcache</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bibDocIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>BibTeX Database</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.ucsd.cs.mmccrack.bibdesk.bib</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BibDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>Minimal BibTeX Database</string>
				<string>RIS/Medline File</string>
				<string>Amsrefs LTB</string>
				<string>EndNote XML</string>
				<string>MODS XML</string>
				<string>Atom XML</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bibDocIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Minimal BibTeX Database</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.ucsd.cs.mmccrack.bibdesk.bib</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BibDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ris</string>
				<string>fcgi</string>
				<string>refman</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>risDocIcon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-Research-Info-Systems</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RIS/Medline File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.ucsd.cs.mmccrack.bibdesk.ris</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BibDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>Minimal BibTeX Database</string>
				<string>RIS/Medline File</string>
				<string>Amsrefs LTB</string>
				<string>EndNote XML</string>
				<string>MODS XML</string>
				<string>Atom XML</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BibDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>BibTeX Database</string>
				<string>RIS/Medline File</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>edu.ucsd.cs.mmccrack.bibdesk.bib</string>
				<string>edu.ucsd.cs.mmccrack.bibdesk.ris</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ltb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Amsrefs LTB</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>EndNote XML</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MODS XML</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>atom</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/atom+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Atom XML</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>BibDesk</string>
	<key>CFBundleGetInfoString</key>
	<string>BibDesk 1.3.0 (v${CURRENT_PROJECT_VERSION}), Copyright 2001-06 Michael O. McCracken.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>BibDesk Help</string>
	<key>CFBundleHelpBookName</key>
	<string>BibDesk Help</string>
	<key>CFBundleIconFile</key>
	<string>FolderPenIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.ucsd.cs.mmccrack.bibdesk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BibDesk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleSignature</key>
	<string>BDSK</string>
	<key>CFBundleVersion</key>
	<string>v${CURRENT_PROJECT_VERSION}</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2001-06 Michael O. McCracken.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>BDSKApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>K</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>BibDesk/Complete Cite Key</string>
			</dict>
			<key>NSMessage</key>
			<string>completeCiteKeyFromSelection</string>
			<key>NSPortName</key>
			<string>BibDesk</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>BibDesk/New Document With Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>newDocumentFromSelection</string>
			<key>NSPortName</key>
			<string>BibDesk</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>BibDesk/Add to Bibliography</string>
			</dict>
			<key>NSMessage</key>
			<string>addPublicationsFromSelection</string>
			<key>NSPortName</key>
			<string>BibDesk</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>J</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>BibDesk/Complete Citation</string>
			</dict>
			<key>NSMessage</key>
			<string>completeCitationFromSelection</string>
			<key>NSPortName</key>
			<string>BibDesk</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>BibDesk/Complete Text Bibliography</string>
			</dict>
			<key>NSMessage</key>
			<string>completeTextBibliographyFromSelection</string>
			<key>NSPortName</key>
			<string>BibDesk</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>BibDesk/Complete Rich Text Bibliography</string>
			</dict>
			<key>NSMessage</key>
			<string>completeRichBibliographyFromSelection</string>
			<key>NSPortName</key>
			<string>BibDesk</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>BibDesk/Show Reference With Cite Key</string>
			</dict>
			<key>NSMessage</key>
			<string>showPubWithKey</string>
			<key>NSPortName</key>
			<string>BibDesk</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>OFControllerClass</key>
	<string>BDSKController</string>
	<key>OFRegistrations</key>
	<dict>
		<key>OAPreferenceController</key>
		<dict>
			<key>BibPref_AutoFile</key>
			<dict>
				<key>category</key>
				<string>Data Preferences</string>
				<key>categoryPriority</key>
				<integer>1</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>AutoFile uses relative path</key>
					<false/>
					<key>BDSKWarnOnMoveFolderKey</key>
					<true/>
					<key>File papers into the papers folder automatically</key>
					<false/>
					<key>Local-Url Clean Braces or TeX</key>
					<integer>2</integer>
					<key>Local-Url Format</key>
					<string>%l%n0%e</string>
					<key>Local-Url Format Preset</key>
					<integer>2</integer>
					<key>Local-Url Generate Lowercase</key>
					<false/>
					<key>Path to the papers folder</key>
					<string>~/Documents/Papers</string>
				</dict>
				<key>helpURL</key>
				<string>AutoFile-Preferences</string>
				<key>icon</key>
				<string>autofile.tiff</string>
				<key>identifier</key>
				<string>bp_autofile</string>
				<key>nib</key>
				<string>BibPref_AutoFile</string>
				<key>ordering</key>
				<string>9</string>
				<key>shortTitle</key>
				<string>AutoFile</string>
				<key>title</key>
				<string>AutoFile</string>
			</dict>
			<key>BibPref_Cite</key>
			<dict>
				<key>category</key>
				<string>Application Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKDragCopyTypesKey</key>
					<array>
						<integer>1</integer>
						<integer>0</integer>
					</array>
					<key>Citation End Bracket</key>
					<string>}</string>
					<key>Citation Start Bracket</key>
					<string>{</string>
					<key>Cite Prepend Tilde</key>
					<false/>
					<key>Cite String</key>
					<string>cite</string>
					<key>Custom CiteStrings</key>
					<array>
						<string>citet</string>
						<string>citep</string>
						<string>fullcite</string>
						<string>citeyear</string>
						<string>citeauthor</string>
					</array>
					<key>Edit on Paste</key>
					<false/>
					<key>Separate Cite</key>
					<false/>
				</dict>
				<key>helpURL</key>
				<string>Citation-Preferences</string>
				<key>icon</key>
				<string>citation.tiff</string>
				<key>identifier</key>
				<string>bp_cite</string>
				<key>nib</key>
				<string>BibPref_Cite</string>
				<key>ordering</key>
				<string>2</string>
				<key>shortTitle</key>
				<string>Citation</string>
				<key>title</key>
				<string>Citation Behavior</string>
			</dict>
			<key>BibPref_CiteKey</key>
			<dict>
				<key>category</key>
				<string>Data Preferences</string>
				<key>categoryPriority</key>
				<integer>1</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>Cite Key Autogenerate</key>
					<false/>
					<key>Cite Key Clean Braces or TeX</key>
					<integer>2</integer>
					<key>Cite Key Format</key>
					<string>%a1:%Y%r2</string>
					<key>Cite Key Format Preset</key>
					<integer>1</integer>
					<key>Cite Key Generate Lowercase</key>
					<false/>
				</dict>
				<key>helpURL</key>
				<string>Citation-Keys</string>
				<key>icon</key>
				<string>key.tiff</string>
				<key>identifier</key>
				<string>bp_citekey</string>
				<key>nib</key>
				<string>BibPref_CiteKey</string>
				<key>ordering</key>
				<string>8</string>
				<key>shortTitle</key>
				<string>Cite Key</string>
				<key>title</key>
				<string>Cite Key Format</string>
			</dict>
			<key>BibPref_Crossref</key>
			<dict>
				<key>category</key>
				<string>Data Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>Automatically Sort for Crossrefs</key>
					<false/>
					<key>Duplicate Booktitle for Crossref</key>
					<false/>
					<key>Overwrite Booktitle when Duplicating for Crossref</key>
					<false/>
					<key>Types for Duplicating Booktitle for Crossref</key>
					<array>
						<string>book</string>
						<string>proceedings</string>
						<string>periodical</string>
						<string>manual</string>
					</array>
					<key>Warn on Editing Inherited Fields</key>
					<true/>
				</dict>
				<key>helpURL</key>
				<string>Crossref-Preferences</string>
				<key>icon</key>
				<string>crossref.tiff</string>
				<key>identifier</key>
				<string>bp_crossref</string>
				<key>nib</key>
				<string>BibPref_Crossref</string>
				<key>ordering</key>
				<string>7</string>
				<key>shortTitle</key>
				<string>Crossref</string>
				<key>title</key>
				<string>Crossref</string>
			</dict>
			<key>BibPref_Defaults</key>
			<dict>
				<key>category</key>
				<string>Data Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKGlobalMacroDefinitionsKey</key>
					<dict/>
					<key>BDSKGlobalMacroFilesKey</key>
					<array/>
					<key>BDSKTableHeaderImages</key>
					<dict/>
					<key>BDSKTableHeaderTitles</key>
					<dict/>
					<key>Boolean fields</key>
					<array>
						<string>Read</string>
					</array>
					<key>Default Fields</key>
					<array>
						<string>Keywords</string>
						<string>Local-Url</string>
						<string>Url</string>
					</array>
					<key>Local File Fields</key>
					<array>
						<string>Local-Url</string>
					</array>
					<key>Macro definitions from bib style file</key>
					<dict/>
					<key>Rating fields</key>
					<array>
						<string>Rating</string>
					</array>
					<key>Remote URL Fields</key>
					<array>
						<string>Url</string>
						<string>Doi</string>
						<string>Citeseerurl</string>
					</array>
					<key>Three state fields</key>
					<array/>
				</dict>
				<key>helpURL</key>
				<string>Default-Fields-Preferences</string>
				<key>icon</key>
				<string>defaults.tiff</string>
				<key>identifier</key>
				<string>bp_defaults</string>
				<key>nib</key>
				<string>BibPref_Defaults</string>
				<key>ordering</key>
				<string>6</string>
				<key>shortTitle</key>
				<string>Defaults</string>
				<key>title</key>
				<string>Defaults</string>
			</dict>
			<key>BibPref_Display</key>
			<dict>
				<key>category</key>
				<string>Application Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKAuthorNameDisplayKey</key>
					<integer>3</integer>
					<key>BDSKEditorFontNameKey</key>
					<string>Helvetica</string>
					<key>BDSKEditorFontSizeKey</key>
					<real>0.0</real>
					<key>BDSKFileContentSearchTableViewFontNameKey</key>
					<string>LucidaGrande</string>
					<key>BDSKFileContentSearchTableViewFontSizeKey</key>
					<real>0.0</real>
					<key>BDSKGroupTableViewFontNameKey</key>
					<string>LucidaGrande</string>
					<key>BDSKGroupTableViewFontSizeKey</key>
					<real>0.0</real>
					<key>BDSKMainTableViewFontNameKey</key>
					<string>LucidaGrande</string>
					<key>BDSKMainTableViewFontSizeKey</key>
					<real>0.0</real>
					<key>BDSKOrphanedFilesTableViewFontNameKey</key>
					<string>LucidaGrande</string>
					<key>BDSKOrphanedFilesTableViewFontSizeKey</key>
					<real>0.0</real>
					<key>BDSKPersonTableViewFontNameKey</key>
					<string>LucidaGrande</string>
					<key>BDSKPersonTableViewFontSizeKey</key>
					<real>0.0</real>
					<key>BDSKPreviewTemplateStyleKey</key>
					<string>Default RSS template</string>
					<key>BDSKSortGroupsDescendingKey</key>
					<false/>
					<key>BDSKSortGroupsKey</key>
					<string>stringValue</string>
					<key>Default table column sort order</key>
					<false/>
					<key>Default table column to sort new documents</key>
					<string>Title</string>
					<key>Font family to use for RTF preview display</key>
					<string>Gill Sans</string>
					<key>Font size for preview pane in document view</key>
					<real>12</real>
					<key>Maximum Number of Items in Preview Pane</key>
					<integer>0</integer>
					<key>Preview Pane Displays What?</key>
					<integer>1</integer>
					<key>Terms ignored when sorting</key>
					<array/>
				</dict>
				<key>helpURL</key>
				<string>Display-Preferences</string>
				<key>icon</key>
				<string>display.tiff</string>
				<key>identifier</key>
				<string>bp_display</string>
				<key>nib</key>
				<string>BibPref_Display</string>
				<key>ordering</key>
				<string>1</string>
				<key>shortTitle</key>
				<string>Display</string>
				<key>title</key>
				<string>Display</string>
			</dict>
			<key>BibPref_Export</key>
			<dict>
				<key>category</key>
				<string>Data Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKExportTemplateStyleKey</key>
					<string>Default HTML template</string>
					<key>BDSKExportTemplateTree</key>
					<data>
					</data>
					<key>BDSKServiceTemplateTree</key>
					<data>
					</data>
				</dict>
				<key>helpURL</key>
				<string>Template-Preferences</string>
				<key>icon</key>
				<string>exportPrefs.tiff</string>
				<key>identifier</key>
				<string>bp_export</string>
				<key>nib</key>
				<string>BibPref_Export</string>
				<key>ordering</key>
				<string>5</string>
				<key>shortTitle</key>
				<string>Templates</string>
				<key>title</key>
				<string>Template Files</string>
			</dict>
			<key>BibPref_Files</key>
			<dict>
				<key>category</key>
				<string>Data Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKAutosaveTimeIntervalKey</key>
					<integer>300</integer>
					<key>BDSKShouldAutosaveDocumentKey</key>
					<false/>
					<key>BDSKStringEncodingsKey</key>
					<array/>
					<key>Default string encoding for opening and saving</key>
					<integer>1</integer>
					<key>Load files in background</key>
					<false/>
					<key>Output Template File</key>
					<string>~/Library/Application Support/BibDesk/template.txt</string>
					<key>Save Annote and Abstract at End of Item</key>
					<false/>
					<key>Save normalized names in BibTeX files</key>
					<false/>
					<key>TeXify characters when saving or copying BibTeX</key>
					<true/>
					<key>Use Unicode BibTeX Parser</key>
					<false/>
					<key>Write template file when saving</key>
					<true/>
				</dict>
				<key>helpURL</key>
				<string>Files-Preferences</string>
				<key>icon</key>
				<string>genericBibDocIcon.tiff</string>
				<key>identifier</key>
				<string>bp_files</string>
				<key>nib</key>
				<string>BibPref_Files</string>
				<key>ordering</key>
				<string>3</string>
				<key>shortTitle</key>
				<string>Files</string>
				<key>title</key>
				<string>Opening and Saving</string>
			</dict>
			<key>BibPref_General</key>
			<dict>
				<key>category</key>
				<string>Application Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKCiteseerHostKey</key>
					<string>http://citeseer.ist.psu.edu/</string>
					<key>BDSKCurrentGroupFieldKey</key>
					<string>Keywords</string>
					<key>BDSKDefaultGroupFieldSeparatorKey</key>
					<string>; </string>
					<key>BDSKEmailTemplateKey</key>
					<string></string>
					<key>BDSKGroupFieldsKey</key>
					<array>
						<string>Keywords</string>
						<string>Group</string>
					</array>
					<key>BDSKIntersectGroupsKey</key>
					<false/>
					<key>BDSKReadExtendedAttributesKey</key>
					<false/>
					<key>BDSKShouldUsePDFMetadata</key>
					<false/>
					<key>BDSKShouldWritePDFMetadata</key>
					<false/>
					<key>BDSKUpdateCheckIntervalKey</key>
					<integer>1</integer>
					<key>BDSKUpdateCheckLastDateKey</key>
					<string></string>
					<key>BDSKUpdateLatestNotifiedVersionKey</key>
					<string></string>
					<key>BDSKWarnOnCiteKeyChangeKey</key>
					<true/>
					<key>BDSKWarnOnDelete</key>
					<true/>
					<key>BDSKWarnOnRemovalFromGroupKey</key>
					<true/>
					<key>BDSKWarnOnRenameGroup</key>
					<true/>
					<key>BibEditor window autosave name</key>
					<string></string>
					<key>Check spelling continuously while editing</key>
					<false/>
					<key>Column Widths by Name</key>
					<dict>
						<key>1st Author</key>
						<real>80</real>
						<key>1st Author or Editor</key>
						<real>80</real>
						<key>2nd Author</key>
						<real>80</real>
						<key>2nd Author or Editor</key>
						<real>80</real>
						<key>3rd Author</key>
						<real>80</real>
						<key>3rd Author or Editor</key>
						<real>80</real>
						<key>BibTeX Type</key>
						<real>55</real>
						<key>Cite Key</key>
						<real>85</real>
						<key>Date</key>
						<real>50</real>
						<key>Item Number</key>
						<real>33</real>
						<key>Keywords</key>
						<real>50</real>
						<key>Local-Url</key>
						<real>18</real>
						<key>Rating</key>
						<real>70</real>
						<key>Read</key>
						<real>30</real>
						<key>Title</key>
						<real>300</real>
						<key>Url</key>
						<real>23</real>
					</dict>
					<key>Current Publication Type String</key>
					<string>Inproceedings</string>
					<key>Current Quick Search Key</key>
					<string>Keywords</string>
					<key>Current Quick Search Text Dictionary</key>
					<dict/>
					<key>Default Bib File</key>
					<string></string>
					<key>Last Open FileNames</key>
					<array/>
					<key>Last field for find and replace</key>
					<string>Title</string>
					<key>Last launched version number</key>
					<string>0</string>
					<key>NSToolbar Configuration OAPreferences</key>
					<string></string>
					<key>Open using filter command history</key>
					<array/>
					<key>Preview PDF Scale Factor</key>
					<real>1</real>
					<key>Preview RTF Scale Factor</key>
					<real>1</real>
					<key>Quick Search Keys</key>
					<array>
						<string>Keywords</string>
						<string>Pub Type</string>
					</array>
					<key>Saved size of BibEditor document snoop drawer</key>
					<string></string>
					<key>Show Editor Status Bar</key>
					<true/>
					<key>Show Find Status Bar</key>
					<true/>
					<key>Show Status Bar</key>
					<true/>
					<key>Show Warnings in Error Panel</key>
					<false/>
					<key>Showing Preview</key>
					<false/>
					<key>Shown Column Names</key>
					<array>
						<string>Local-Url</string>
						<string>Keywords</string>
						<string>BibTeX Type</string>
						<string>Cite Key</string>
						<string>Title</string>
						<string>Date</string>
						<string>1st Author</string>
						<string>2nd Author</string>
						<string>3rd Author</string>
					</array>
					<key>Snoop Drawer Content</key>
					<integer>0</integer>
					<key>Startup Behavior</key>
					<integer>0</integer>
					<key>View-by Field</key>
					<string>Author</string>
				</dict>
				<key>helpURL</key>
				<string>General-Preferences</string>
				<key>icon</key>
				<string>startup.tiff</string>
				<key>identifier</key>
				<string>bp_general</string>
				<key>nib</key>
				<string>BibPref_General</string>
				<key>ordering</key>
				<string>0</string>
				<key>shortTitle</key>
				<string>General</string>
				<key>title</key>
				<string>General Application Behavior</string>
			</dict>
			<key>BibPref_InputManager</key>
			<dict>
				<key>category</key>
				<string>Application Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKEditorFormShouldAutoCompleteKey</key>
					<true/>
				</dict>
				<key>helpURL</key>
				<string>Autocompletion-Preferences</string>
				<key>icon</key>
				<string>inputmanager.tiff</string>
				<key>identifier</key>
				<string>bp_inputmanager</string>
				<key>nib</key>
				<string>BibPref_InputManager</string>
				<key>ordering</key>
				<string>91</string>
				<key>shortTitle</key>
				<string>Completion</string>
				<key>title</key>
				<string>Autocompletion Plugin</string>
			</dict>
			<key>BibPref_ScriptHooks</key>
			<dict>
				<key>category</key>
				<string>Data Preferences</string>
				<key>categoryPriority</key>
				<integer>1</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>Script Hooks</key>
					<dict/>
				</dict>
				<key>helpURL</key>
				<string>Script-Hook-Preferences</string>
				<key>icon</key>
				<string>scripthook.tiff</string>
				<key>identifier</key>
				<string>bp_ScriptHooks</string>
				<key>nib</key>
				<string>BibPref_ScriptHooks</string>
				<key>ordering</key>
				<string>92</string>
				<key>shortTitle</key>
				<string>Script Hooks</string>
				<key>title</key>
				<string>Script Hooks</string>
			</dict>
			<key>BibPref_Sharing</key>
			<dict>
				<key>category</key>
				<string>Application Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BDSKBrowsingRequiresPasswordKey</key>
					<false/>
					<key>BDSKSharingNameKey</key>
					<string></string>
					<key>BDSKShouldLookForSharedFilesKey</key>
					<false/>
					<key>BDSKShouldShareFilesKey</key>
					<false/>
				</dict>
				<key>helpURL</key>
				<string>Sharing-Preferences</string>
				<key>icon</key>
				<string>networkIcon.tiff</string>
				<key>identifier</key>
				<string>bp_sharing</string>
				<key>nib</key>
				<string>BibPref_Sharing</string>
				<key>ordering</key>
				<string>5</string>
				<key>shortTitle</key>
				<string>Sharing</string>
				<key>title</key>
				<string>Sharing Files</string>
			</dict>
			<key>BibPref_TeX</key>
			<dict>
				<key>category</key>
				<string>Application Preferences</string>
				<key>categoryPriority</key>
				<integer>2</integer>
				<key>defaultsDictionary</key>
				<dict>
					<key>BibTeX Binary Path</key>
					<string>/usr/local/teTeX/bin/powerpc-apple-darwin-current/bibtex</string>
					<key>BibTeX Style</key>
					<string>abbrv</string>
					<key>Character encoding for TeX preview file</key>
					<integer>1</integer>
					<key>TeX Binary Path</key>
					<string>/usr/local/teTeX/bin/powerpc-apple-darwin-current/pdflatex</string>
					<key>Uses TeX</key>
					<false/>
				</dict>
				<key>helpURL</key>
				<string>Preview-Preferences</string>
				<key>icon</key>
				<string>preview.tiff</string>
				<key>identifier</key>
				<string>bp_TeX</string>
				<key>nib</key>
				<string>BibPref_TeX</string>
				<key>ordering</key>
				<string>4</string>
				<key>shortTitle</key>
				<string>Preview</string>
				<key>title</key>
				<string>TeX - Typeset Preview</string>
			</dict>
		</dict>
	</dict>
	<key>OSAScriptingDefinition</key>
	<string>BibDesk.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BibTeX Database</string>
			<key>UTTypeIconFile</key>
			<string>bibDocIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>edu.ucsd.cs.mmccrack.bibdesk.bib</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bib</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RIS/Medline File</string>
			<key>UTTypeIconFile</key>
			<string>risDocIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>edu.ucsd.cs.mmccrack.bibdesk.ris</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.refman.com/support/risformat_intro.asp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ris</string>
					<string>fcgi</string>
					<string>refman</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-Research-Info-Systems</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BibDesk Item</string>
			<key>UTTypeIconFile</key>
			<string>cacheDoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.bibdesk.bdskcache</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bdskcache</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Web of Science File</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.bibdesk.webofscience</string>
			<key>UTTypeReferenceURL</key>
			<string>http://portal.isiknowledge.com/ISI/help/h_markwosa.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<array>
					<string>application/x-Inst-for-Scientific-Info</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
