{
    /* Entrez databases */
    entrez = (
        {
            name = PubMed;
            database = pubmed;
        },
        {
            name = "3D Domains";
            database = domains;
        },
        {
            name = Domains;
            database = cdd;
        },
        {
            name = Genome;
            database = genome;
        },
        {
            name = Nucleotide;
            database = nucleotide;
        },
        {
            name = OMIM;
            database = omim;
        },
        {
            name = PopSet;
            database = popset;
        },
        {
            name = Protein;
            database = protein;
        },
        {
            name = ProbeSet;
            database = geo;
        },
        {
            name = Structure;
            database = structure;
        },
        {
            name = SNP;
            database = snp;
        },
        {
            name = Taxonomy;
            database = taxonomy;
        },
        {
            name = UniGene;
            database = unigene;
        },
        {
            name = UniSTS;
            database = unists;
        }
    );
    /* z39.50 servers */
    
    /* We use IANA charset names for encoding, since the NSString localized
     * names are not suitable for keys.  An empty resultEncoding will be
     * interpreted as MARC-8.
     */
    zoom = (
        /* Library of Congress z39.50 connection */
        {
            name = "Library of Congress";
            database = Voyager;
            host = "z3950.loc.gov";
            port = "7090";
            options = {
                recordSyntax = "US MARC";
                resultEncoding = "marc-8";
            };
        },
        /* USC z39.50 connection */
        {
            name = "University of Southern California";
            database = unicorn;
            host = "library.usc.edu";
            port = "2200";
            options = {
                recordSyntax = "US MARC";
            };
        },
        /* COPAC z39.50 connection */
        {
            name = "COPAC";
            database = "copac";
            host = "z3950.copac.ac.uk";
            port = "2100";
            options = {
                recordSyntax = "DC XML";
                resultEncoding = "iso-8859-1";
            };
        },
        /* University of Basel z39.50 connection */
        {
            name = "UB Basel";
            database = "IDS_UTF";
            host = "aleph.unibas.ch";
            port = "9909";
            options = {
                recordSyntax = "US MARC";
                resultEncoding = "utf-8";
                allowDiacritics = "YES";
            };
        }
    );
}
