(
    (
        { name = PubMed; database = pubmed; },
        { name = "3D Domains"; database = domains; },
        { name = Domains; database = cdd; },
        { name = Genome; database = genome; },
        { name = Nucleotide; database = nucleotide; },
        { name = OMIM; database = omim; },
        { name = PopSet; database = popset; },
        { name = Protein; database = protein; },
        { name = ProbeSet; database = geo; },
        { name = Structure; database = structure; },
        { name = SNP; database = snp; },
        { name = Taxonomy; database = taxonomy; },
        { name = UniGene; database = unigene; },
        { name = UniSTS; database = unists; }
    ),
    (
        /* Library of Congress z39.50 connection */
        {   
            name = "Library of Congress"; 
            database = Voyager; 
            host = "z3950.loc.gov"; 
            port = "7090"; 
            options = {
                preferredRecordSyntax = "usmarc";
                charset = "marc-8";
            };
        },
        /* USC z39.50 connection */
        {   
            name = "University of Southern California"; 
            database = unicorn; 
            host = "library.usc.edu"; 
            port = "2200"; 
            options = {
                preferredRecordSyntax = "usmarc";
                charset = "marc-8";
            };
        },
        /* COPAC z39.50 connection */
        {
            name = "COPAC";
            database = "copac";
            host = "z3950.copac.ac.uk";
            port = "2100";
            options = {
                preferredRecordSyntax = "xml";
                charset = "iso-8859-1";
            };
        }
    )
)
