<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BibTeXFieldNamesForJSTORTags</key>
	<dict>
		<key>AB</key>
		<string>Abstract</string>
		<key>AU</key>
		<string>Author</string>
		<key>DA</key>
		<string>Date</string>
		<key>EI</key>
		<string>Url</string>
		<key>IN</key>
		<string>Issn</string>
		<key>KW</key>
		<string>Keywords</string>
		<key>NO</key>
		<string>Number</string>
		<key>PP</key>
		<string>Pages</string>
		<key>SE</key>
		<string>Series</string>
		<key>SO</key>
		<string>Journal</string>
		<key>TI</key>
		<string>Title</string>
		<key>VO</key>
		<string>Volume</string>
	</dict>
	<key>BibTeXFieldNamesForMARCXMLSubFields</key>
	<dict>
		<key>010</key>
		<dict>
			<key>a</key>
			<string>LibraryID</string>
		</dict>
		<key>020</key>
		<dict>
			<key>a</key>
			<string>ISBN</string>
		</dict>
		<key>050</key>
		<dict>
			<key>a</key>
			<string>CallNumber</string>
		</dict>
		<key>082</key>
		<dict>
			<key>a</key>
			<string>DeweyCallNumber</string>
		</dict>
		<key>100</key>
		<dict>
			<key>a</key>
			<string>Author</string>
		</dict>
		<key>245</key>
		<dict>
			<key>a</key>
			<string>Title</string>
		</dict>
		<key>250</key>
		<dict>
			<key>a</key>
			<string>Edition</string>
		</dict>
		<key>260</key>
		<dict>
			<key>a</key>
			<string>Place-Published</string>
			<key>b</key>
			<string>Publisher</string>
			<key>c</key>
			<string>Publication-Date</string>
		</dict>
		<key>300</key>
		<dict>
			<key>a</key>
			<string>NumberOfPages</string>
		</dict>
		<key>440</key>
		<dict>
			<key>a</key>
			<string>Series</string>
		</dict>
		<key>490</key>
		<dict>
			<key>a</key>
			<string>Series</string>
		</dict>
		<key>650</key>
		<dict>
			<key>a</key>
			<string>Genre</string>
		</dict>
		<key>700</key>
		<dict>
			<key>a</key>
			<string>Author</string>
		</dict>
	</dict>
	<key>BibTeXFieldNamesForPubMedTags</key>
	<dict>
		<key>AB</key>
		<string>Abstract</string>
		<key>AD</key>
		<string>Affiliation</string>
		<key>BT</key>
		<string>Title</string>
		<key>CT</key>
		<string>Title</string>
		<key>DP</key>
		<string>Year</string>
		<key>ED</key>
		<string>Editor</string>
		<key>IP</key>
		<string>Number</string>
		<key>IS</key>
		<string>Issn</string>
		<key>JA</key>
		<string>Journal</string>
		<key>JF</key>
		<string>Journal</string>
		<key>JO</key>
		<string>Journal</string>
		<key>KW</key>
		<string>Keywords</string>
		<key>L1</key>
		<string>Local-Url</string>
		<key>LA</key>
		<string>Language</string>
		<key>MH</key>
		<string>Keywords</string>
		<key>N1</key>
		<string>Annote</string>
		<key>N2</key>
		<string>Abstract</string>
		<key>PG</key>
		<string>Pages</string>
		<key>PY</key>
		<string>Year</string>
		<key>RP</key>
		<string>Status</string>
		<key>T1</key>
		<string>Title</string>
		<key>T2</key>
		<string>Title</string>
		<key>T3</key>
		<string>Title</string>
		<key>TA</key>
		<string>Journal</string>
		<key>TI</key>
		<string>Title</string>
		<key>UI</key>
		<string>Medlineref</string>
		<key>UR</key>
		<string>Url</string>
		<key>VI</key>
		<string>Volume</string>
		<key>VL</key>
		<string>Volume</string>
		<key>Y1</key>
		<string>Year</string>
	</dict>
	<key>BibTeXFieldNamesForWebOfScienceTags</key>
	<dict>
		<key>AB</key>
		<string>Abstract</string>
		<key>AR</key>
		<string>Pages</string>
		<key>AU</key>
		<string>Author</string>
		<key>IS</key>
		<string>Number</string>
		<key>PD</key>
		<string>Date</string>
		<key>PI</key>
		<string>Address</string>
		<key>PU</key>
		<string>Publisher</string>
		<key>PY</key>
		<string>Year</string>
		<key>SE</key>
		<string>Booktitle</string>
		<key>SN</key>
		<string>Issn</string>
		<key>SO</key>
		<string>Journal</string>
		<key>TI</key>
		<string>Title</string>
		<key>UT</key>
		<string>Isi</string>
		<key>VL</key>
		<string>Volume</string>
		<key>J9</key>
		<string>Source</string>
        <key>ID</key>
		<string>Keywords</string>
	</dict>
	<key>BibTeXTypesForMODSGenres</key>
	<dict>
		<key>academic journal</key>
		<string>article</string>
		<key>book</key>
		<string>book</string>
		<key>conference publication</key>
		<string>inproceedings</string>
		<key>instruction</key>
		<string>manual</string>
		<key>report</key>
		<string>techreport</string>
		<key>unpublished</key>
		<string>unpublished</string>
	</dict>
	<key>BibTeXTypesForPubMedTypes</key>
	<dict>
		<key>BOOK</key>
		<string>book</string>
		<key>CHAP</key>
		<string>inbook</string>
		<key>CONF</key>
		<string>inproceedings</string>
		<key>ELEC</key>
		<string>electronic</string>
		<key>GEN</key>
		<string>misc</string>
		<key>JOUR</key>
		<string>article</string>
		<key>Journal Article</key>
		<string>article</string>
		<key>MGZN</key>
		<string>article</string>
		<key>RPRT</key>
		<string>techreport</string>
		<key>SER</key>
		<string>incollection</string>
		<key>UNPB</key>
		<string>unpublished</string>
        <key>Journal Article</key>
        <string>article</string>
	</dict>
	<key>BibTeXTypesForWebOfScienceTypes</key>
	<dict>
		<key>Abstract of Published Item</key>
		<string>misc</string>
		<key>Art Exhibit Review</key>
		<string>misc</string>
		<key>Article</key>
		<string>article</string>
		<key>Bibliography</key>
		<string>misc</string>
		<key>Biographical-Item</key>
		<string>misc</string>
		<key>Book Review</key>
		<string>misc</string>
		<key>Chronology</key>
		<string>misc</string>
		<key>Correction</key>
		<string>misc</string>
		<key>Correction, Addition</key>
		<string>misc</string>
		<key>Dance Performance Review</key>
		<string>misc</string>
		<key>Database Review</key>
		<string>misc</string>
		<key>Discussion</key>
		<string>misc</string>
		<key>Editorial Material</key>
		<string>misc</string>
		<key>Excerpt</key>
		<string>misc</string>
		<key>Fiction, Creative Prose</key>
		<string>misc</string>
		<key>Film Review</key>
		<string>misc</string>
		<key>Hardware Review</key>
		<string>misc</string>
		<key>Item About an Individual</key>
		<string>misc</string>
		<key>Letter</key>
		<string>misc</string>
		<key>Meeting Abstract</key>
		<string>misc</string>
		<key>Music Performance Review</key>
		<string>misc</string>
		<key>Music Score</key>
		<string>misc</string>
		<key>Music Score Review</key>
		<string>misc</string>
		<key>News Item</key>
		<string>misc</string>
		<key>Note</key>
		<string>misc</string>
		<key>Poetry</key>
		<string>misc</string>
		<key>Record Review</key>
		<string>misc</string>
		<key>Reprint</key>
		<string>misc</string>
		<key>Review</key>
		<string>misc</string>
		<key>Script</key>
		<string>misc</string>
		<key>Software Review</key>
		<string>misc</string>
		<key>TV Review, Radio Review</key>
		<string>misc</string>
		<key>TV Review, Radio Review, Video</key>
		<string>misc</string>
		<key>Theater Review</key>
		<string>misc</string>
	</dict>
	<key>FieldDescriptionsForJSTORTags</key>
	<dict>
		<key>AB</key>
		<string>Abstract</string>
		<key>AU</key>
		<string>Author</string>
		<key>CR</key>
		<string>CopyRight</string>
		<key>DA</key>
		<string>Date</string>
		<key>EI</key>
		<string>Electronic Identifier</string>
		<key>FT</key>
		<string>Foreign Title</string>
		<key>IN</key>
		<string>ISSN</string>
		<key>IT</key>
		<string>Item Type</string>
		<key>KW</key>
		<string>Keywords</string>
		<key>NO</key>
		<string>Number</string>
		<key>PB</key>
		<string>Publisher</string>
		<key>PP</key>
		<string>Article Pages</string>
		<key>RA</key>
		<string>Reviewed Author</string>
		<key>RT</key>
		<string>Reviewed Title</string>
		<key>S2</key>
		<string>Issue Title</string>
		<key>SE</key>
		<string>Series</string>
		<key>SO</key>
		<string>Source</string>
		<key>TI</key>
		<string>Title</string>
		<key>VO</key>
		<string>Volume</string>
	</dict>
	<key>FieldDescriptionsForWebOfScienceTags</key>
	<dict>
		<key>AB</key>
		<string>Abstract</string>
		<key>AR</key>
		<string>Article number</string>
		<key>AU</key>
		<string>Authors</string>
		<key>BP</key>
		<string>Beginning page</string>
		<key>C1</key>
		<string>Author address</string>
		<key>CA</key>
		<string>Group authors</string>
		<key>CR</key>
		<string>Cited references</string>
		<key>DE</key>
		<string>Author keywords</string>
		<key>DT</key>
		<string>Document type</string>
		<key>EF</key>
		<string>End of file</string>
		<key>EM</key>
		<string>E-mail address</string>
		<key>EP</key>
		<string>Ending page</string>
		<key>ER</key>
		<string>End of record</string>
		<key>FN</key>
		<string>File name</string>
		<key>GA</key>
		<string>ISI document delivery number</string>
		<key>ID</key>
		<string>Keywords Plus®</string>
		<key>IS</key>
		<string>Issue</string>
		<key>J9</key>
		<string>29-character source abbreviation</string>
		<key>JI</key>
		<string>ISO source abbreviation</string>
		<key>LA</key>
		<string>Language</string>
		<key>NR</key>
		<string>Cited reference count</string>
		<key>PA</key>
		<string>Publisher address</string>
		<key>PD</key>
		<string>Publication date</string>
		<key>PG</key>
		<string>Page count</string>
		<key>PI</key>
		<string>Publisher city</string>
		<key>PN</key>
		<string>Part number</string>
		<key>PT</key>
		<string>Publication type</string>
		<key>PU</key>
		<string>Publisher</string>
		<key>PY</key>
		<string>Publication year</string>
		<key>RP</key>
		<string>Reprint address</string>
		<key>SC</key>
		<string>Subject category</string>
		<key>SE</key>
		<string>Book series title</string>
		<key>SI</key>
		<string>Special issue</string>
		<key>SN</key>
		<string>ISSN</string>
		<key>SO</key>
		<string>Full source title</string>
		<key>SU</key>
		<string>Supplement</string>
		<key>TC</key>
		<string>Times cited</string>
		<key>TI</key>
		<string>Document title</string>
		<key>UT</key>
		<string>ISI unique article identifier</string>
		<key>VL</key>
		<string>Volume</string>
		<key>VR</key>
		<string>Version number</string>
	</dict>
	<key>FieldsForTypes</key>
	<dict>
		<key>article</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Volume</string>
				<string>Number</string>
				<string>Pages</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Journal</string>
				<string>Year</string>
			</array>
		</dict>
		<key>book</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Author</string>
				<string>Editor</string>
				<string>Volume</string>
				<string>Number</string>
				<string>Series</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Title</string>
				<string>Publisher</string>
				<string>Year</string>
			</array>
		</dict>
		<key>booklet</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Author</string>
				<string>Howpublished</string>
				<string>Address</string>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array>
				<string>Title</string>
			</array>
		</dict>
		<key>commented</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Volumetitle</string>
				<string>Editor</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Publisher</string>
				<string>Year</string>
			</array>
		</dict>
		<key>conference</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Volume</string>
				<string>Pages</string>
				<string>Number</string>
				<string>Organization</string>
				<string>Series</string>
				<string>Publisher</string>
				<string>Address</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Booktitle</string>
				<string>Year</string>
			</array>
		</dict>
		<key>electronic</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Urldate</string>
				<string>Author</string>
				<string>Title</string>
			</array>
			<key>required</key>
			<array/>
		</dict>
		<key>glossdef</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Sort-Word</string>
				<string>Short</string>
				<string>Group</string>
			</array>
			<key>required</key>
			<array>
				<string>Word</string>
				<string>Definition</string>
			</array>
		</dict>
		<key>inbook</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Number</string>
				<string>Volume</string>
				<string>Type</string>
				<string>Series</string>
				<string>Month</string>
				<string>Address</string>
				<string>Edition</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Chapter</string>
				<string>Pages</string>
				<string>Publisher</string>
				<string>Year</string>
			</array>
		</dict>
		<key>incollection</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Volume</string>
				<string>Number</string>
				<string>Series</string>
				<string>Type</string>
				<string>Chapter</string>
				<string>Pages</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Booktitle</string>
				<string>Publisher</string>
				<string>Year</string>
			</array>
		</dict>
		<key>inproceedings</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Volume</string>
				<string>Pages</string>
				<string>Number</string>
				<string>Organization</string>
				<string>Series</string>
				<string>Publisher</string>
				<string>Address</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Booktitle</string>
				<string>Year</string>
			</array>
		</dict>
		<key>jurthesis</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Address</string>
				<string>Month</string>
				<string>Type</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>School</string>
				<string>Year</string>
			</array>
		</dict>
		<key>manual</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Author</string>
				<string>Organization</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array>
				<string>Title</string>
			</array>
		</dict>
		<key>mastersthesis</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Address</string>
				<string>Month</string>
				<string>Type</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>School</string>
				<string>Year</string>
			</array>
		</dict>
		<key>misc</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Title</string>
				<string>Howpublished</string>
				<string>Author</string>
				<string>Organization</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array/>
		</dict>
		<key>periodical</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Year</string>
				<string>Volume</string>
				<string>Pages</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Journal</string>
			</array>
		</dict>
		<key>phdthesis</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Address</string>
				<string>Month</string>
				<string>Type</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>School</string>
				<string>Year</string>
			</array>
		</dict>
		<key>proceedings</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Publisher</string>
				<string>Organization</string>
				<string>Address</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Title</string>
				<string>Year</string>
			</array>
		</dict>
		<key>techreport</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Type</string>
				<string>Number</string>
				<string>Address</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Institution</string>
				<string>Year</string>
			</array>
		</dict>
		<key>unpublished</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Note</string>
				<string>Title</string>
			</array>
		</dict>
		<key>url</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Urldate</string>
				<string>Author</string>
				<string>Title</string>
				<string>Lastchecked</string>
			</array>
			<key>required</key>
			<array/>
		</dict>
		<key>webpage</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Lastchecked</string>
				<string>Year</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Url</string>
			</array>
		</dict>
	</dict>
	<key>FileTypes</key>
	<dict>
		<key>BibTeX</key>
		<dict>
			<key>DefaultType</key>
			<string>Inproceedings</string>
			<key>FileExtension</key>
			<string>.bib</string>
		</dict>
		<key>MARC XML</key>
		<dict>
			<key>DefaultType</key>
			<string>Article</string>
			<key>FileExtension</key>
			<string>.marc</string>
		</dict>
		<key>MODS XML</key>
		<dict>
			<key>DefaultType</key>
			<string>Article</string>
			<key>FileExtension</key>
			<string>.mods</string>
		</dict>
		<key>RIS</key>
		<dict>
			<key>DefaultType</key>
			<string>Article</string>
			<key>FileExtension</key>
			<string>.ris</string>
		</dict>
	</dict>
	<key>MODSGenresForBibTeXType</key>
	<dict>
		<key>article</key>
		<dict>
			<key>host</key>
			<array>
				<string>periodical</string>
				<string>academic journal</string>
			</array>
		</dict>
		<key>book</key>
		<dict>
			<key>self</key>
			<array>
				<string>book</string>
			</array>
		</dict>
		<key>booklet</key>
		<dict>
			<key>self</key>
			<array>
				<string>book</string>
			</array>
		</dict>
		<key>commented</key>
		<dict/>
		<key>conference</key>
		<dict>
			<key>host</key>
			<array>
				<string>conference publication</string>
			</array>
		</dict>
		<key>electronic</key>
		<dict>
			<key>self</key>
			<array>
				<string>online system or service</string>
			</array>
		</dict>
		<key>glossdef</key>
		<dict/>
		<key>inbook</key>
		<dict>
			<key>host</key>
			<array>
				<string>book</string>
			</array>
		</dict>
		<key>incollection</key>
		<dict>
			<key>host</key>
			<array>
				<string>multivolume monograph</string>
			</array>
		</dict>
		<key>inproceedings</key>
		<dict>
			<key>host</key>
			<array>
				<string>conference publication</string>
			</array>
		</dict>
		<key>jurthesis</key>
		<dict>
			<key>self</key>
			<array>
				<string>theses</string>
			</array>
		</dict>
		<key>manual</key>
		<dict>
			<key>self</key>
			<array>
				<string>instruction</string>
			</array>
		</dict>
		<key>mastersthesis</key>
		<dict>
			<key>self</key>
			<array>
				<string>theses</string>
			</array>
		</dict>
		<key>misc</key>
		<dict/>
		<key>periodical</key>
		<dict>
			<key>self</key>
			<array>
				<string>periodical</string>
			</array>
		</dict>
		<key>phdthesis</key>
		<dict>
			<key>self</key>
			<array>
				<string>theses</string>
			</array>
		</dict>
		<key>proceedings</key>
		<dict>
			<key>self</key>
			<array>
				<string>conference publication</string>
			</array>
		</dict>
		<key>techreport</key>
		<dict>
			<key>self</key>
			<array>
				<string>report</string>
			</array>
		</dict>
		<key>unpublished</key>
		<dict>
			<key>self</key>
			<array>
				<string>unpublished</string>
			</array>
		</dict>
		<key>url</key>
		<dict>
			<key>self</key>
			<array>
				<string>web site</string>
			</array>
		</dict>
	</dict>
	<key>RequiredTypesForFileType</key>
	<dict>
		<key>BibTeX</key>
		<array>
			<string>article</string>
			<string>book</string>
			<string>booklet</string>
			<string>conference</string>
			<string>inbook</string>
			<string>incollection</string>
			<string>inproceedings</string>
			<string>jurthesis</string>
			<string>manual</string>
			<string>mastersthesis</string>
			<string>misc</string>
			<string>phdthesis</string>
			<string>proceedings</string>
			<string>techreport</string>
			<string>unpublished</string>
		</array>
	</dict>
	<key>TypesForFileType</key>
	<dict>
		<key>BibTeX</key>
		<array>
			<string>article</string>
			<string>book</string>
			<string>booklet</string>
			<string>commented</string>
			<string>conference</string>
			<string>glossdef</string>
			<string>inbook</string>
			<string>incollection</string>
			<string>inproceedings</string>
			<string>jurthesis</string>
			<string>manual</string>
			<string>mastersthesis</string>
			<string>misc</string>
			<string>periodical</string>
			<string>phdthesis</string>
			<string>proceedings</string>
			<string>techreport</string>
			<string>unpublished</string>
			<string>url</string>
			<string>electronic</string>
			<string>webpage</string>
		</array>
		<key>PubMed</key>
		<array>
			<string>JOUR</string>
			<string>ABST</string>
			<string>ADVS</string>
			<string>ART</string>
			<string>BILL</string>
			<string>BOOK</string>
			<string>CASE</string>
			<string>CHAP</string>
			<string>COMP</string>
			<string>CONF</string>
			<string>CTLG</string>
			<string>DATA</string>
			<string>ELEC</string>
			<string>GEN</string>
			<string>HEAR</string>
			<string>ICOMM</string>
			<string>INPR</string>
			<string>JFULL</string>
			<string>FOUR</string>
			<string>MAP</string>
			<string>MGZN</string>
			<string>MPCT</string>
			<string>MUSIC</string>
			<string>NEWS</string>
			<string>PAMP</string>
			<string>PAT</string>
			<string>PCOMM</string>
			<string>RPRT</string>
			<string>SER</string>
			<string>SLIDE</string>
			<string>SOUND</string>
			<string>STAT</string>
			<string>THES</string>
			<string>UNBILI</string>
			<string>UNPB</string>
			<string>VIDEO</string>
		</array>
	</dict>
</dict>
</plist>
