<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllRemovableFieldNames</key>
	<array>
		<string>Address</string>
		<string>Author</string>
		<string>Booktitle</string>
		<string>Chapter</string>
		<string>Edition</string>
		<string>Editor</string>
		<string>Howpublished</string>
		<string>Institution</string>
		<string>Journal</string>
		<string>Month</string>
		<string>Number</string>
		<string>Organization</string>
		<string>Pages</string>
		<string>Publisher</string>
		<string>School</string>
		<string>Series</string>
		<string>Title</string>
		<string>Type</string>
		<string>Volume</string>
		<string>Year</string>
		<string>Note</string>
		<string>Code</string>
		<string>Crossref</string>
	</array>
	<key>FieldsForTypes</key>
	<dict>
		<key>article</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Volume</string>
				<string>Number</string>
				<string>Pages</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Journal</string>
				<string>Year</string>
			</array>
		</dict>
		<key>book</key>
		<dict>
			<key>optional</key>
			<array>
                                <string>Author</string>
				<string>Editor</string>
				<string>Volume</string>
				<string>Number</string>
				<string>Series</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				
				<string>Title</string>
				<string>Publisher</string>
				<string>Year</string>
			</array>
		</dict>
		<key>booklet</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Author</string>
				<string>Howpublished</string>
				<string>Address</string>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array>
				<string>Title</string>
			</array>
		</dict>
		<key>commented</key>
		<dict>
			<key>optional</key>
			<array>
				<string>volumetitle</string>
			</array>
			<key>required</key>
			<array/>
		</dict>
		<key>inbook</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Volume</string>
				<string>Series</string>
				<string>Address</string>
				<string>Edition</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Chapter</string>
				<string>Pages</string>
				<string>Publisher</string>
				<string>Year</string>
			</array>
		</dict>
		<key>incollection</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Volume</string>
				<string>Number</string>
				<string>Series</string>
				<string>Type</string>
				<string>Chapter</string>
				<string>Pages</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Booktitle</string>
				<string>Publisher</string>
				<string>Year</string>
			</array>
		</dict>
		<key>inproceedings</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Pages</string>
				<string>Organization</string>
				<string>Publisher</string>
				<string>Address</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Booktitle</string>
				<string>Year</string>
			</array>
		</dict>
		<key>jurthesis</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Address</string>
				<string>Month</string>
				<string>Type</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>School</string>
				<string>Year</string>
			</array>
		</dict>
		<key>manual</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Author</string>
				<string>Organization</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array>
				<string>Title</string>
			</array>
		</dict>
		<key>mastersthesis</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Address</string>
				<string>Month</string>
				<string>Type</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>School</string>
				<string>Year</string>
			</array>
		</dict>
		<key>misc</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Title</string>
				<string>Author</string>
				<string>Organization</string>
				<string>Address</string>
				<string>Edition</string>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array/>
		</dict>
		<key>periodical</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Year</string>
				<string>Volume</string>
				<string>Pages</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Journal</string>
			</array>
		</dict>
		<key>phdthesis</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Address</string>
				<string>Month</string>
				<string>Type</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>School</string>
				<string>Year</string>
			</array>
		</dict>
		<key>proceedings</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Editor</string>
				<string>Publisher</string>
				<string>Organization</string>
				<string>Address</string>
				<string>Month</string>
			</array>
			<key>required</key>
			<array>
				<string>Title</string>
				<string>Year</string>
			</array>
		</dict>
		<key>techreport</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Type</string>
				<string>Number</string>
				<string>Address</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
				<string>Institution</string>
				<string>Year</string>
			</array>
		</dict>
		<key>unpublished</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Month</string>
				<string>Year</string>
			</array>
			<key>required</key>
			<array>
				<string>Author</string>
				<string>Title</string>
			</array>
		</dict>
		<key>url</key>
		<dict>
			<key>optional</key>
			<array>
				<string>Urldate</string>
				<string>Author</string>
				<string>Title</string>
			</array>
			<key>required</key>
			<array/>
		</dict>
	</dict>
	<key>FileTypes</key>
	<dict>
		<key>BibTeX</key>
		<dict>
			<key>DefaultType</key>
			<string>Inproceedings</string>
			<key>FileExtension</key>
			<string>.bib</string>
		</dict>
		<key>BibX XML</key>
		<dict>
			<key>DefaultType</key>
			<string>Article</string>
			<key>FileExtension</key>
			<string>.xml</string>
		</dict>
	</dict>
	<key>TypesForFileType</key>
	<dict>
		<key>BibTeX</key>
		<array>
			<string>article</string>
			<string>book</string>
			<string>booklet</string>
			<string>commented</string>
			<string>inbook</string>
			<string>incollection</string>
			<string>inproceedings</string>
			<string>jurthesis</string>
			<string>manual</string>
			<string>mastersthesis</string>
			<string>misc</string>
			<string>periodical</string>
			<string>phdthesis</string>
			<string>proceedings</string>
			<string>techreport</string>
			<string>unpublished</string>
			<string>url</string>
		</array>
	</dict>
</dict>
</plist>
