<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>en-US</string>
<key>CFBundleIdentifier</key>
<string>net.sourceforge.skim-app.skim.help</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>SkimHelp</string>
<key>CFBundlePackageType</key>
<string>BNDL</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
<key>CFBundleSignature</key>
<string>hbwr</string>
<key>CFBundleVersion</key>
<string>1.0</string>
<key>HPDBookAccessPath</key>
<string>SkimHelp.html</string>
<key>HPDBookIconPath</key>
<string>shrd/SkimIcon.png</string>
<key>HPDBookIndexPath</key>
<string>SkimHelp.helpindex</string>
<key>HPDBookKBProduct</key>
<string>skim1</string>
<key>HPDBookRemoteURL</key>
<string>http://skim-app.sourceforge.net/manual/</string>
<key>HPDBookTitle</key>
<string>Skim Help</string>
<key>HPDBookType</key>
<string>3</string>
</dict>
</plist>