@media print {
  /* style sheet for print goes here */
}

.content { background-color: #fffeec;
	text-align: justify;
	float: right;
	width: 95%;
	padding: 10px 1%;
	margin: 10px 1%;
        border-style: solid;
	border-width: 1px;
	border-color: #ead388; }

.Pub, .Talk, .Poster {
	text-align: left;
	font-size: 0.9em; 
	line-height: 125%;
	page-break-before: always;
	padding-bottom: 0.8em; }

.Key { font-size: 0.8em; 
	color: #222222;
	page-break-before: always; }

.Title { font-weight: bolder;
	font-size: 1.0em;
	color: #225522; }

.Author { color: black; }

.Journal, .Conference { font-style: italic; }

.Volume { font-weight: bolder; }

.Year { color: black; }

.Abstract, .Annote {
	font-size: 0.8em;
	line-height: 100%; 
	color: dark-gray;
	padding-top: 10px; }

.FieldName { font-weight: bolder; }

.FieldValue { color: black; }

.Url { font-size: 0.8em; color: #c95e62; }

.Citations { font-size: 0.8em; color: #3d433b; }
