{
    Publication = {
        BDSKPersonPboardType = "contributorRelationships.contributor";
        BDSKInstitutionPboardType = "contributorRelationships.contributor";
        BDSKVenuePboardType = "venue";
        BDSKTagPboardType = "tags";
    };
    Person = {
        BDSKPublicationPboardType = "publicationRelationships.publication";
        BDSKInstitutionPboardType = "institutionRelationships.institution";
        BDSKTagPboardType = "tags";
    };
    Institution = {
        BDSKPublicationPboardType = "publicationRelationships.publication";
        BDSKPersonPboardType = "personRelationships.person";
        BDSKTagPboardType = "tags";
    };
    Venue = {
        BDSKPublicationPboardType = "Relationship.";
        BDSKTagPboardType = "tags";
    };
    Tag = {
        BDSKPublicationPboardType = "items";
        BDSKPersonPboardType = "items";
        BDSKInstitutionPboardType = "items";
    };
}