SDKROOT = $(DEVELOPER_SDK_DIR)/MacOSX10.5.sdk
DEBUG_INFORMATION_FORMAT = dwarf
MACOSX_DEPLOYMENT_TARGET[arch=ppc] = 10.4
MACOSX_DEPLOYMENT_TARGET[arch=i386] = 10.4
MACOSX_DEPLOYMENT_TARGET[arch=ppc64] = 10.5
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 10.5
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = all
ZERO_LINK = NO

GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

GCC_MODEL_TUNING = G5
