// Framework only

INSTALL_PATH = @executable_path/../Frameworks

DYLIB_COMPATIBILITY_VERSION = 1.1
DYLIB_CURRENT_VERSION = 1.1.2
LD_DYLIB_INSTALL_NAME = @executable_path/../Frameworks/$(EXECUTABLE_PATH)

FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = SkimNotes

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = SkimNotes_Prefix.pch
