.document {
    margin: 3em 6em 4em 6em;
    font-family: Lucida Grande,Helvetica,Geneva, Sans;
    font-size: 1em;
}

h1, h2, h3 {
    color: #dark-blue;
}

h1.title:before {
    content: url('gfx/BibDeskIcon.png');
    margin-left: -40px;
    width: 32px;
    margin-right: 8px;
}

h1.title {
    font-size: 2.5em;
    margin: 0em;
    padding: 0em;
}

h2.subtitle {
    color: #b33;
    font-size: 0.9em;
    margin: 0em;
    padding: 0em 0em 1em 0em;
}

h1 {
    font-size: 1.6em;
    margin-top: 1.2em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

h2 {
    font-size: 1.2em;
    margin-top: 1.4em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

tt, pre {
    font-size: 1.1em;
    font-family: Monaco, Courier, Mono;
}

img.floatright {
    float: right;
}

img.croppedscreenshot {
    border: 1px solid #999;
    margin: 1em 0em 1em 0em;
}

.footer {
    padding-top: 3em;
    font-size: 0.8em;
    color: #666;
}

.footer a {
    color: #66c;
}